[2021-05-17 19:29] gepd opened #1 "Bug using useState and onOptionHighlight"
Hi, I'm trying to set a flag when there not options to show, but if I use the `useState` hook in `onOptionHighlight` the component stops working; it doesn't show any option.

if I use `console.log` it works as expected, I'm missing something?

[code]

EDIT:

using the `onChange` prop with `useState` have the same behavior

EDIT2:

I think the problem is I'm using the component as uncontrolled, I t

[2021-05-26 17:55] itsam opened #2 "Close dropdown when ESC is pressed"
Hello and thank you for your effort.
Would be nice to allow closing the dropdown when pressing the ESC button.
Thank you in advance

[2021-05-26 18:32] anubra266 commented on #2
Thanks. I'll get to it.

[2021-05-26 18:34] anubra266 commented on #1
I'm sorry I didn't get to you earlier. I'll check my settings, to know why I did not receive notifications.
Mean time, I'll work on this ASAP.

[2021-05-26 18:44] #2 closed

[2021-05-26 18:58] anubra266 commented on #1
You should know this happened because I used a third party package for global state management. I've rewritten it in React context.

[2021-05-27 02:29] gepd commented on #1
I was debugging the problem for some hours and I realized the problem was that (`easy peasy` lib), your latests changes looks pretty good I'm just waiting the new version to test it.

by the way, thanks for this component!

[2021-05-27 16:59] #1 closed

[2021-05-31 02:55] gepd opened #3 "feature request: non-filterable item"
I'll like to have an option to avoid filter a item from the list

I'm using the creatable option, but I want to add an aditional option that will be always available in the list

[code]

I need to always show the `Create and Edit` option, so I was thinking in something like this:

[code]

[2021-05-31 02:58] anubra266 commented on #3
If you add the `freeSolo` and `creatable` prop to `AutoComplete`, entering an input that's not in the list shows automatically shows an `Add "input"` Item`

[2021-05-31 02:59] gepd opened #4 "Feature request: change text "add" in creatable"
at this moment seems like there is not option to change the creatable prefix

[2021-05-31 03:00] anubra266 commented on #4
Will work on this thanks.

[2021-05-31 03:04] gepd commented on #3
Yes, the creatable option is working as expected. I want to always display the `Create and Edit` option. So following the first example, if the input is set to `This is not in the list`, the result should be

[code]

[2021-05-31 03:08] anubra266 commented on #3
Okay...What do you think of `fixed` prop instead of `alwaysShow`

[2021-05-31 03:46] gepd commented on #3
I think `fixed` is better, thanks!

[2021-05-31 04:23] gepd opened #5 "isNewInput always false"
Seems like there is a bug `isNewInput` is always `false`, as I understand, using the creatable option should return true if I select the creatable option but that is not working

[2021-05-31 04:39] anubra266 commented on #5
As a temporary workaround, do something like `const isNewInput = !myOptions.includes(newValue)`

[2021-05-31 04:57] #5 closed

[2021-05-31 15:40] #4 closed

[2021-05-31 16:07] TaylorFacen opened #14 "Props Request: Show menu when input field is focused"
Because the select options aren't displayed when the user clicks the input field, they have to type random letters just to see what options are available. It would be helpful to have the option to see all available options before typing anything.

[2021-05-31 16:08] anubra266 commented on #14
There's a `suggestWhenEmpty` prop.

[2021-05-31 16:14] TaylorFacen commented on #14
I see it now. In the docs it's a bit buried in the selectOnFocus row.

[2021-05-31 16:14] #14 closed

[2021-05-31 16:15] anubra266 commented on #14
Ah...thanks!

[2021-05-31 16:23] TaylorFacen commented on #14
Actually, I have a quick question on this @anubra266 , I see that if I provide a default value, the menu is already filtered. Is there a way to show all options even when there's a default value and only filter once the input has changed? The use case is, the user is able to manage financial transactions and assign a category to each transaction. I want them to be able to edit a transaction's cate

[2021-05-31 16:25] anubra266 commented on #14
That makes sense, could you open a feature request issue? Thanks.

[2021-05-31 21:12] anubra266 commented on #3
For the purpose of reusabilty, I won't be adding the fixed prop. I'll instead export a `FixedItem` component

[2021-05-31 21:30] anubra266 commented on #3
And I'm tweaking the `AutoCompleteList` so it accepts any component.

[2021-05-31 23:14] #3 closed

[2021-05-31 23:16] anubra266 opened #15 "Feature Request: Prop to Show unfiltered items with input defaultValue"
As per @TaylorFacen 's request in #14

[2021-06-01 00:28] anubra266 commented on #15
This will be achieved by applying setting `initialFilter` prop to `false` on the `AutoCompleteInput` component.

[2021-06-01 00:35] #15 closed

[2021-06-01 00:40] anubra266 commented on #14
@TaylorFacen You can now use the `initialFilter` prop on the `AutoCompleteInput` from v3.3.0

[2021-06-01 16:06] TaylorFacen commented on #15
Thanks!

[2021-06-12 20:30] gepd opened #16 "feature request: multi-selection"
Would be good to have multi selection, this is one of the features that even the [chakra select](https://chakra-ui.com/docs/form/select) component have missing

Use the [tag](https://chakra-ui.com/docs/data-display/tag) component would be a good option

reference: https://material-ui.com/components/autocomplete/#multiple-values

[2021-06-24 03:14] matheusmb commented on #16
Definitely would be nice to have this feature!

[2021-07-01 03:41] karimcambridge opened #17 "AutoComplete.InputGroup does not respect InputLeftElement"
[code]

Result is
![image](https://user-images.githubusercontent.com/4283893/124061219-7e5de200-d9fc-11eb-8082-ba02ccfda026.png)

![image](https://user-images.githubusercontent.com/4283893/124061461-deed1f00-d9fc-11eb-8d60-372259c5ea74.png)

[2021-07-01 20:18] anubra266 commented on #17
Hi could you create a codesandbox reporoduction?

[2021-07-01 22:28] karimcambridge commented on #17
Hi, honestly after playing around and switching things up a bit it actually seems like the issue is the Input component from chakra itself, I switched to that.

Also, check out the screenshots, look at how the icon overlaps with the placeholder / cursor.

[2021-07-10 12:15] anubra266 opened #18 "Allow users to change the filter method"
Should change this line for allowing a user to provide a custom function that filters the list.
**Use case:** I want a fuzzy search, so the function will receive the Input value, all options and the option value; perform the operation and return true to validate the option.
https://github.com/anubra266/choc-autocomplete/blob/069d49d12639dc0bd425de689afb75fe35317b2d/src/helpers/input.ts#L25

[2021-07-10 12:57] #17 closed

[2021-07-10 13:24] anubra266 commented on #17
Hi @karimcambridge this is fixed in v3.5.1

[2021-07-10 13:36] karimcambridge commented on #17
Also see someone reported something similar here

https://github.com/chakra-ui/chakra-ui/issues/4366

[2021-07-10 13:39] anubra266 commented on #17
I just found out the package is breaking with the latest Chakra version. The list is jumping off the page😔

[2021-07-10 13:47] anubra266 opened #21 "Automplete List is mispositioned in latest Chakra Version"
Automplete List is mispositioned in latest Chakra Version

[2021-07-10 13:47] #21 closed

[2021-07-11 17:34] karimcambridge commented on #17
Yea that is happening, I tried to report it. https://github.com/chakra-ui/chakra-ui/issues/4329

If you can help bring it to their attention, it needs to be fixed asap.

[2021-07-13 22:43] gepd opened #22 "AutoCompleteFixedItem does not have hover styling"
![autocomplete-bug](https://user-images.githubusercontent.com/7091609/125534456-ff1252a8-8f18-4beb-9982-daa9de444a03.gif)

[2021-07-14 01:09] gepd opened #23 "Bug using AutoCompleteFixedItem and AutoCompleteGroup"
I have this list:

[code]
And this is what I see, as you can see The `Fixed item 1` is duplicated

![image](https://user-images.githubusercontent.com/7091609/125544645-a009ab86-e062-40e6-92b9-2d71703ea4ec.png)

If I put the `FixedItem` Inside of the `AutoCompleteGroup` I can't see none of those items

[2021-07-14 01:22] anubra266 commented on #23
I've found a lot of bugs, while looking at this. One being if the value is not same as innerText, there's trouble. I'll try to fix this soon.

[2021-07-14 01:26] gepd commented on #23
I just started to test it and I found this and the previous one, I'll wait for your fix to keep using this feature, thanks!

[2021-07-14 01:40] anubra266 commented on #23
Hi @gepd. Regarding the bug I talked about, what's happening is the filter only checks the value, not the text passed to `Item` component. I initially made it this way for, items that rendered whole components. What do you think of accepting a label prop, that is also filtered, or if you have a better way of addressing it.

[2021-07-14 01:42] anubra266 commented on #23
By the way, I'm unable to reproduce this issue

[2021-07-14 02:05] #22 closed

[2021-07-14 02:56] gepd commented on #23
Yes that sound great to me

I tried again in a clean install (next.js) and yes, I don't see the duplication problem anymore, I'll check my first code to see where is the problem.

The second one, when the `FixedItem` does not show up inside a `AutoCompleteGroup` keep happening, I would like wrap it mostly to add a way to separate the fixed items from the `Items`

[2021-07-14 04:07] gepd opened #24 "use autocomplete with RHF"
This is more a question than a issue. I'm trying to use this component with [RHF](https://react-hook-form.com/)

In my first try I did this:

[code]
I see the `defaultValue` in the input in the first render of the component, but if I select any item from the list, this is not updated in the input. Reading the docs, I think this is because is `onChange` in the `AutoComplete` component who handles t

[2021-07-14 10:10] anubra266 commented on #23
Hi @gepd , I don't understand this.

[2021-07-14 15:07] gepd commented on #23
I mean, this does not work
[code]

[2021-07-15 16:26] anubra266 opened #25 "Filtering not good"
The Package filters using the Items' value, so the text in the item is ignored

[2021-07-15 16:30] #25 closed

[2021-07-15 17:07] anubra266 commented on #24
I haven't used react hook form before, but I think I've got it to work here.
https://codesandbox.io/s/react-hook-form-v7-controller-forked-e0n7n?file=/src/Chakra.js

[2021-07-15 18:08] gepd commented on #24
You are closer, I did some changes and now is working!

I'll let the code here for other people looking the same

[code]

The changes I did was update the `defaultValue` to `defaultValue={field.value}` add the `onChange` and `value` fields, this way it will change the value of the input when it is updated programatically as well

[2021-07-15 18:41] gepd commented on #24
Actually this is not fully working yet, I shoudn't add the `value` and the `defaultValue` together, so when I remove the `defaultValue` prop I don't see `apple` (the current default value) in the form

https://codesandbox.io/s/react-hook-form-v7-controller-forked-rb4sk?file=/src/index.js

As you can see in the sandbox, when the form is loaded it prints `apple` in the console, but there is nothing

[2021-07-15 19:32] anubra266 commented on #24
You don't need the value prop. Just the defaultValue

[2021-07-15 19:54] gepd commented on #24
I need it, If don't use it, I can't control the input programmatically

[2021-07-15 20:16] gepd commented on #24
Ok keep debuggin it I think is fully working

The problem was here:

[code]
The `onChange` was sending a empty string the first time, so I changed to

[code]
and now all seems to be working as spected

This is the full code:

[code]

[2021-07-16 14:32] #24 closed

[2021-07-16 16:39] gepd opened #27 "Can't select AutoCompleteFixedItem option"
https://codesandbox.io/s/react-hook-form-v7-controller-forked-rb4sk?file=/src/Chakra.js

As you can see in that sandbox, you can't select any `AutoCompleteFixedItem` option

[2021-07-20 15:45] #27 closed

[2021-07-21 01:06] #23 closed

[2021-07-21 01:11] anubra266 commented on #16
Hi @gepd I'm about to work on this. I would love to have your input on the structure that would be best for this. Such that you have the flexibility of rendering the input and the internal tags. I just need a sample of the way you think would be best as an end user. E.g.
[code]

[2021-07-21 05:44] gepd commented on #16
Hi @anubra266, I like the flexibility of this component, would be great to have something as your example. I imagine that `tags` will export the label and value, and maybe a callback to remove the tag or maybe that you will handle internally (?).

Will you allow to use the tag with custom elements like in the chakra example? https://chakra-ui.com/docs/data-display/tag#with-custom-element

[2021-07-21 09:40] anubra266 commented on #16
@gepd, I'll leave rendering tags to the end user so it's possible to use any component, Tags or something else, but the tags, will expose all required variables and methods.

[2021-07-21 19:22] anubra266 opened #28 "Typing `/` breaks the package"
Typing `/` breaks the package

[2021-07-22 18:46] karimcambridge opened #29 "Clicking enter throws an error"
I use the autocomplete with list of google suggestions

say I type 'laptop' then click enter

![image](https://user-images.githubusercontent.com/4283893/126692474-72c042f0-f6f5-4dcd-a964-ed6ea1e24928.png)

Edit: This was on 3.5.4 btw, just updated

Edit: still happening on latest update

[2021-07-22 20:14] anubra266 commented on #29
Hi could you create a codesandbox reproduction of this issue? Thanks!

[2021-07-27 21:29] #18 closed

[2021-07-27 23:53] anubra266 commented on #16
Coming up in the next release

[2021-07-27 23:53] #16 closed

[2021-07-27 23:53] #28 closed

[2021-07-28 10:01] MrSandyC opened #30 "Invalid regular expression: /\/: \ at end of pattern"
![image](https://user-images.githubusercontent.com/47319347/127303365-3f4feb5c-e41f-41c5-a4fb-dee0e529fa52.png)
![image](https://user-images.githubusercontent.com/47319347/127303804-b9ef330d-f373-4312-afcc-61cbb0d83d2e.png)

As seen in the images, the project crashes in the codesandbox environment when using several different characters.

[2021-07-29 03:59] #30 closed

[2021-07-30 12:43] anubra266 commented on #29
Hi, I've not been able to reproduce this in the latest version, so I'm closing now.

[2021-07-30 12:43] #29 closed

[2021-07-31 03:49] gepd opened #32 "Item list should not open with `isReadOnly`"
If you set the `isReadOnly` prop to **true** in your `AutoCompleteInput` and focus it, it will open the list of items

[2021-07-31 17:52] anubra266 commented on #32
@gepd  Make sure you don't have the `openOnFocus` prop set to true

[2021-07-31 18:43] anubra266 opened #33 "Fix Emphasis prop"
Highlighting with emphasis prop, does not work well with text transformation.

[2021-07-31 18:51] #33 closed

[2021-07-31 20:09] gepd commented on #32
I'm using `suggestWhenEmpty` but even with this prop, I shouldn't be able to change the input as it's in read only mode don you think? it should be the same behavior with `openOnfocus`

[2021-07-31 22:06] anubra266 commented on #32
@gepd https://codesandbox.io/s/polished-pine-p49t4?file=/src/index.js

[2021-08-01 02:08] gepd commented on #32
Ok I found the problem, I doesn't happen when you have the `multiple` prop, if you remove it and add `openOnFocus` and `isReadOnly` you will be able to change the value of the input https://codesandbox.io/s/hidden-cloud-8o53v?file=/src/index.js

[2021-08-01 02:24] anubra266 commented on #32
@gepd , I've looked at your codesandbox. you can't change the value of the input, but the suggestions come up because you have the `openOnFocus` prop.

[2021-08-01 02:39] gepd commented on #32
This is what I mean

![autocomplete-bug](https://user-images.githubusercontent.com/7091609/127757313-2a0efb53-d264-4bb4-aa41-716bfe747126.gif)

[2021-08-01 02:41] anubra266 commented on #32
But why are you making the suggestions show, if you want the input to be readonly

[2021-08-01 02:44] anubra266 commented on #32
There could be unnecessary complexities from creating an algorithm to treat that prop differently. It's like wanting to add cases for all props an input could have.

[2021-08-01 02:44] anubra266 commented on #32
Point being, I would like to know your use case, then we can treat it from a better angle.

[2021-08-01 02:51] gepd commented on #32
In my use case I'm using the component in a form that have a read and write state, when is in read mode all components in the form can't be updated, you can update it only in the write mode

But it feels a little inconsistent the behavior between `multiple` and `single`, when you try to do the same (in `multiple`) you can't, you press any item in the list and nothing happens

[2021-08-01 02:56] anubra266 commented on #32
Speaking of inconsistency, you might have forgotten to map the tags as children of the input.

[2021-08-01 02:59] anubra266 commented on #32
But your solution is the shouldRenderSuggestions prop, it's a method, so just return isEditable (or whatever represents editable state in your application) in that function

[2021-08-01 03:00] anubra266 commented on #32
Check the readme for a better understanding of that prop

[2021-08-01 03:01] gepd commented on #32
I'll check that, it sounds like a better solution! Thanks!

[2021-08-01 03:03] anubra266 commented on #32
And for clarification, isReadOnly prop prevents users from typing into an input, not code from changing the value. It assumes developer might want to programmatically insert values that the end user cannot modify, so it limits your users, not you.

[2021-08-01 03:08] anubra266 commented on #32
Also what do you think of a disabled or read-only prop on the autocomplete itself. If it sounds nice, choose a name for the prop.

[2021-08-01 03:10] gepd commented on #32
That would be cool, as almost all form component in chakra exposes a read only prop
you can name it same as the rest of the components `isReadOnly` what do you think?

[2021-08-01 11:31] anubra266 commented on #32
Done in [v.4.2.0](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.2.0)

[2021-08-01 11:31] #32 closed

[2021-08-01 15:09] karimcambridge commented on #29
Agreed it seems good since v4 rewrite.

[2021-08-01 16:39] gepd opened #35 "Default value not working in v.4.3.0"
I'm having problems to get the default value in `v4.3.0`, the problem is I'm not able to replicate it in the codeSandbox but when I switch to `v4.2.0` it's working, I have looked the changes in the lastest version and I saw you added a `defaultValue` prop

https://github.com/anubra266/choc-autocomplete/blob/932823f7935abe6ef0909594fe4fc58ee058bbf5/src/use-autocomplete.ts#L160

I put `console.log(a

[2021-08-01 16:58] anubra266 commented on #35
Hi, can I see your code. @gepd

[2021-08-01 16:59] anubra266 commented on #35
Hi, can I see your code. @gepd

[2021-08-01 17:10] gepd commented on #35
Im using RHF so the default value is given in

[code]

The component is declared like this:

[code]
I know the value is been passing because when I console log the `value` prop I can see it, but also the same code work without problem in `v4.2.0`

[2021-08-01 17:11] anubra266 commented on #35
Ah I get now. The `defaultValue` overrides the value you're providing to the input.

[2021-08-01 17:12] gepd commented on #35
yes I think so!

[2021-08-01 17:12] anubra266 commented on #35
I added the `defaultValue` so you could define tags, beforeHand, I'll change it to defaultTags.

[2021-08-01 17:21] anubra266 commented on #35
Fixed in 4.3.1

[2021-08-01 17:34] gepd commented on #35
Thanks It's working again!

[2021-08-01 17:34] #35 closed

[2021-08-01 17:58] gepd opened #36 "AutoCompleteCreatable is shown on empty input"
When `AutoCompleteCreatable` is set with `openOnFocus` or `suggestWhenEmpty` the `AutoCompleteCreatable` is shown "empty"

[code]
It's not really empty but `value` is, so I will end with an item called `Add to List`

Also I noticed that if the list have an option called `Apple` for example, it won't be filtered when the input is `Apple` as well

![image](https://user-images.githubusercontent.com/7

[2021-08-01 21:38] anubra266 commented on #36
Do you mea, the creatable shows when input is empty

[2021-08-01 22:18] anubra266 commented on #36
Fixed in v4.3.2

[2021-08-02 05:05] gepd commented on #36
Thanks @anubra266 the first issue is fixed, but the second one keeps happening. The example of the issue is in the image, shouldn't be possible to show the creatable option when the text of the input and one of the options are the same

[2021-08-02 09:46] #36 closed

[2021-08-02 09:49] anubra266 commented on #36
Fixed in [v4.3.3](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.3.3)

[2021-08-02 09:51] anubra266 commented on #36
@all-contributors please add @gepd for bug

[2021-08-02 12:57] icy-meteor opened #38 "Unable to set default value to the AutoCompleteInput"
[code]
Package version "@choc-ui/chakra-autocomplete": "^4.3.3",

I want the default value in the input box to be set to "Kitty 1" whenever the page loads.
With the above code, the input box is empty on page load which seems like the expected behaviour.

- I tried setting defaultValue to the `<AutoCompleteInput>` component but it doesn't do anything.
- I tried setting value to the <AutoCompleteInp

[2021-08-02 13:04] anubra266 commented on #38
use The `defaultValues` prop and pass an array.

`<AutoComplete defaultValues={["Kitty 1"]}`

[2021-08-02 13:06] icy-meteor commented on #38
I'll try this and get back. Thanks for the quick reply.

[2021-08-02 13:09] icy-meteor commented on #38
Okay, now I'm getting an interesting behaviour. Basically reverse of the 2nd point I mentioned.
Now the value seems to get set but the input box shows up empty on page load. When I click on the input box, then the value suddenly shows up. When I click outside now, it continues to stay in the input box.

[2021-08-02 13:12] icy-meteor commented on #38
Got it, looks like it also wants me to set  `<AutoCompleteInput value="Kitty 1">` in order to make it show up on page load.
Is this the right behaviour?

[2021-08-02 13:14] anubra266 commented on #38
Yeah...that would work, but I should handle it internally. I'll work on this, in a moment

[2021-08-02 13:15] icy-meteor opened #39 "How to remove italics from the no options text?"
![image](https://user-images.githubusercontent.com/22114682/127867640-0d78fd4d-7442-4386-bd5a-b45fd3be59d6.png)

I wish to remove the italics from the text - "No options found!" as it breaks the UI consistency. Any idea how to go about this?
Also, how can I change this text to say something else?

[2021-08-02 13:16] anubra266 commented on #39
There's an `emptyState` prop

[2021-08-02 13:16] anubra266 commented on #39
There's an `emptyState` prop

[2021-08-02 13:18] anubra266 commented on #39
`<AutoComplete emptyState={<Box> Nothing was found </Box>} />`

or even

`<AutoComplete emptyState={({value})=>(<Box> {value} was not found </Box>)} />`

[2021-08-02 13:19] icy-meteor commented on #39
Perfect! Thanks, I couldn't find these in the documentation though. It wasn't very clear.
If you could update them with such examples, it would be helpful :)

[2021-08-02 13:19] anubra266 commented on #39
I'll try my best. It's just time. I wouldn't mind a PR though.

[2021-08-02 13:19] #39 closed

[2021-08-02 13:38] icy-meteor opened #40 "Possible to list all options when user focuses for the first time?"
<img src="https://user-images.githubusercontent.com/22114682/127870914-8e861613-13f1-488b-b2b4-bee96c564589.png" width="200">

I am looking for a behaviour that material-ui autocomplete takes care off - Ability to view all the menu items when the user focuses on the input box. But when the user starts typing, it starts showing just the filtered options.

This is useful in order for the user to vie

[2021-08-02 13:39] anubra266 commented on #40
just set the `openOnFocus` prop on the `AutoComplete` component

[2021-08-02 13:42] anubra266 commented on #40
Oh...you mean even when there's already text in the input. I'll put this in the next minor version, sometime today. But could you suggest a prop name that handles this? @icy-meteor

[2021-08-02 13:42] icy-meteor commented on #40
Already have that prop. That opens the menu list on focus but the options inside it are still the filtered ones only. I need it to display all the options so that the user can see all the available options without having to backspace everything in input box.

[2021-08-02 13:43] icy-meteor commented on #40
Haha, okay. Something like `listAllValuesOnFocus` makes sense to me.

[2021-08-02 13:44] anubra266 commented on #40
Cool. I'll comment here, when it's released.

[2021-08-02 13:45] icy-meteor commented on #40
Thanks, appreciate your speed. Never seen anything like this before, excellent work mate.

[2021-08-02 13:58] icy-meteor opened #41 "<AutoCompleteInput> should be able to access the value but render the label instead"
[code]
Package version "@choc-ui/chakra-autocomplete": "^4.3.4",

In the above example, I want the AutoCompleteList items to show up options like "**Kitty 1", "Kitty 2"** and so on. Now when I select any option, the value that gets set in the `<AutoCompleteInput>` is **CAT_1** whereas I wanted **"Kitty 1"** to get set because that is what I chose.
The only way to get around this is to make sure th

[2021-08-02 14:08] icy-meteor opened #42 "Long option values getting cut"
![image](https://user-images.githubusercontent.com/22114682/127874550-04829e04-e906-46d8-81b6-a646d07bca00.png)

Values that are longer than the `<AutoCompleteInput>` component width should have an ellipses at the end of the text instead of getting cut abruptly.

[2021-08-02 14:09] icy-meteor commented on #42
`isTruncated` prop works as long as the input field is not focused. On focusing, it breaks again.

[2021-08-02 14:21] icy-meteor opened #43 "Clicking <InputRightElement> does not expand the <AutoCompleteList>"
![image](https://user-images.githubusercontent.com/22114682/127876384-0cdecb4e-deb8-47ec-89e3-352f4ea53205.png)

 "@choc-ui/chakra-autocomplete": "^4.3.4"

 Clicking the `<InputRightElement>` isn't doing anything.

[2021-08-02 14:31] anubra266 commented on #43
Could you reproduce this in codesandbox please?

[2021-08-02 14:32] anubra266 commented on #42
Could you reproduce this in codesandbox please?

[2021-08-03 02:04] anubra266 commented on #40
Available in [v4.4.0](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.4.0)

[2021-08-03 03:41] anubra266 commented on #38
Fixed in [v4.4.1](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.4.1)

[2021-08-03 03:41] #38 closed

[2021-08-03 03:43] anubra266 commented on #41
I waited on this because of cases where the Item child is not a string, i.e. custom rendering, e.g. an avatar and a description.
I'm thinking there could be a `label` prop on the Item. What do you think?

[2021-08-03 03:49] icy-meteor commented on #40
Thanks. Tried it and works as expected but noticed a small glitch.
When I focus on the input box and then press the down arrow key on my keyboard, it doesn't reach till the last options but just stops midway.

[2021-08-03 03:52] anubra266 commented on #40
Ah...Think I know what's causing that.

[2021-08-03 03:52] icy-meteor commented on #42
Give me some time, I'll get back to you with the link.

[2021-08-03 03:53] icy-meteor commented on #43
Give me some time, I'll get back to you with the link.

[2021-08-03 03:55] anubra266 commented on #40
Fix released.

[2021-08-03 14:13] icy-meteor commented on #41
Yes, this is the way to go else it voids the point of having a separate label and separate value attribute.

[2021-08-03 14:14] icy-meteor commented on #40
Still seems buggy to me.

[2021-08-03 14:15] anubra266 commented on #40
Reproduce please.

[2021-08-03 14:16] icy-meteor commented on #40
Yeah, that is the issue. I'm working on a closed source tool so it's hard for me to share.
I'll find a way to give a codesandbox link soon

[2021-08-04 07:04] icy-meteor commented on #40
https://codesandbox.io/s/choc-ui-autocomplete-kfu08?file=/src/App.tsx

The issue happens when 2 values have the same entry. For example, you can see that if you keep hitting the keyboard down arrow and as soon as you hit Item 11, it stops.

Now I am aware that you would ask me to have only unique values but in my use-case I have 2 same values but the IDs are different as "id" is my unique identifi

[2021-08-04 07:13] icy-meteor commented on #42
https://codesandbox.io/s/choc-ui-autocomplete-long-item-value-d8o70?file=/src/App.tsx

Here you go, you can check "Item 4" onwards.

[2021-08-04 07:19] StringKe opened #45 "[Question] The carriage return event will trigger an error (Cannot read property'disabled' of undefined)"
demo: https://codesandbox.io/s/choc-ui-packages-codesandbox-forked-0ziuu?file=/src/App.js

`Uncaught TypeError: Cannot read property 'disabled' of undefined`

Open the demo link and enter some content at random, and press Enter, Don't use the mouse to select content

I don’t know why this is caused. I’m trying to implement a search box with autocomplete, and then some keywords will be loaded from

[2021-08-04 07:20] icy-meteor commented on #43
https://codesandbox.io/s/choc-ui-autocomplete-input-right-element-flp5b?file=/src/App.tsx

I have replaced the icon with some text for now but it's pretty much the same behaviour. Clicking the <InputRightElement> doesn't do anything.

[2021-08-04 07:26] icy-meteor opened #46 "defaultValue undefined breaks the UI"
https://codesandbox.io/s/choc-ui-autocomplete-undefined-tolowercase-error-wdsl1?file=/src/App.tsx

If defaultValue is set as undefined for some reason, it crashes the entire UI with an error "Cannot read property 'toLowerCase' of undefined".

Might not be the best experience for the user. Rather we could just make it show empty in case of any incorrect values.

 @choc-ui/chakra-autocomplete: 4.4.3

[2021-08-04 08:40] StringKe opened #47 "[Feature] The option is empty copy can be modified"
https://github.com/anubra266/choc-autocomplete/blob/4d0a1c0d3dc82b492a7914e4da10c76c915b25df/src/components/empty-state.tsx#L9

I need to do i18n support, but the hint here seems to be fixed, I can’t modify it

[2021-08-04 08:48] anubra266 commented on #47
It's not fixed.

See answer in #39

[2021-08-04 08:49] StringKe commented on #47
OK, thanks

[2021-08-04 08:49] #47 closed

[2021-08-04 08:59] #46 closed

[2021-08-04 09:14] anubra266 commented on #43
Hi @icy-meteor You don't have any onClick handler on the inputrightelement. What're you expecting it to do onClick.

[2021-08-04 09:15] icy-meteor commented on #43
I want it to open the dropdown.

[2021-08-04 09:29] anubra266 commented on #43
Then you have to set an Onclick handler for that

[2021-08-04 09:30] anubra266 commented on #43
Check [this](https://github.com/anubra266/choc-autocomplete#accessing-the-internal-state) out. `onOpen` and `onClose` are also exposed as internal state.

[2021-08-04 09:32] icy-meteor commented on #43
Yes, I saw this. I couldn't find what is the method exposed to open and close the popup. Neither were there any examples other than isOpen.
Is it onOpen and onClose? That doesn't sound right though.

[2021-08-04 09:36] anubra266 commented on #43
Yeah it's `onOpen` and `onClose`

[2021-08-04 09:44] icy-meteor commented on #43
Okay, maybe we might want to fix the naming convention :)
onOpen sounds more like a callback that gets fired when something is open. Doesn't sound like something that will trigger an open.

[2021-08-04 09:45] icy-meteor commented on #42
Okay, got it. Thanks.

[2021-08-04 09:45] #42 closed

[2021-08-04 09:49] anubra266 commented on #40
If I follow this approach though, it'll have to be a breaking change.

[2021-08-04 11:57] anubra266 commented on #43
@icy-meteor `onOpen` is the default return of Chakra's `useDisclosure`. and right, it's a callback that gets fired when something gets opened. But the verb open is just like a variable name, so we say, open the list, when the variable open is true.
Besides, changing this will be a breaking change.

[2021-08-04 14:02] icy-meteor commented on #46
This is not yet released right? @anubra266

[2021-08-04 17:51] #43 closed

[2021-08-04 18:30] icy-meteor commented on #43
LGTM. Thanks.

[2021-08-04 19:43] anubra266 commented on #41
@icy-meteor I need more of your input on this.
If you think the `value` should not be the unique identification of the items, what do you propose it should be?

[2021-08-04 19:43] anubra266 commented on #40
Closing this In favour of #41

[2021-08-04 19:43] #40 closed

[2021-08-05 07:53] StringKe commented on #45
About the performance of the upgraded components
1. When the line selection is not matched, pressing Enter will not trigger the OnChange event
2. After selecting a match, typing anything will trigger the OnChange event

https://codesandbox.io/s/choc-ui-packages-codesandbox-forked-0ziuu?file=/src/App.js

I want to use `choc-autocomplete` to implement a search box like google https://www.google.com

[2021-08-05 15:13] anubra266 commented on #45
There's an `onSelectOption` prop, that is called whenever an option is selected.

[2021-08-05 15:21] StringKe commented on #45
`onSelectOption` is only triggered when it is selected, maybe the carriage return of input should trigger `onChange`, whether it is selected or not?

[2021-08-05 15:26] anubra266 commented on #45
The autocomplete onChange prop is reserved for when the value of the autocomplete component changes.

[2021-08-05 15:27] anubra266 commented on #45
We could add a new prop for this use case, maybe on the InputComponent.

[2021-08-05 15:32] anubra266 commented on #45
if you need `onInputChange` you could just do onChange on the autocomplete input component.

[2021-08-05 15:33] anubra266 commented on #45
But you could expatiate more on `emitEnter`

[2021-08-06 03:42] StringKe commented on #45
If `emitEnter` is true, the `onChange` event of `<AutoComplete/>` should be triggered when the enter is pressed

[2021-08-06 03:46] StringKe commented on #45
In the current version, if I monitor the input of `input` and select an option, continuing to input anything will trigger the `onChange` event of `<AutoComplete/>

[2021-08-06 03:48] anubra266 commented on #45
I don't get that part @StringKe, isn't the onChange (of the input) triggered anytime you type, even before selection.

[2021-08-06 04:00] StringKe commented on #45
You can open this link to view the source code https://codesandbox.io/s/choc-ui-packages-codesandbox-forked-0ziuu?file=/src/App.js:666-701

Or open the link below to view the video
https://cln.sh/vORDzt

[2021-08-06 14:32] anubra266 commented on #45
@StringKe  Just fixed the onChange bug.

[2021-08-08 20:45] guilnorth commented on #41
I need this behavior too.
Thinking about, `value` can stay a unique, but is necessary to be able to define a `labelValue` and maybe a field with multiple keys to filter if is possible.

[2021-08-08 21:46] #45 closed

[2021-08-08 22:39] anubra266 commented on #41
Hi @guilnorth, could you explain what you mean by multiple keys to filter?

[2021-08-09 05:14] karimcambridge opened #48 "style props on <AutoCompleteInput> seem janky"
Hi, so everything seems great with this library now except for styling inputs

[code]

I have the input in a grid like think airbnb or amazon, so I want it to flexgrow but using flex in any way on it doesnt seem to work because I have a left and right element attached to it, using width works but then it isn't responsive.

My entire searchbar component is

[code]

[2021-08-09 05:28] anubra266 commented on #48
Hi could you reproduce this in a codesandbox?

[2021-08-09 11:36] anubra266 commented on #41
@icy-meteor there's a label prop in the latest version.

[2021-08-10 03:57] StringKe commented on #45
I updated to the latest version, input and select an option will appear the following error

[code]

Demo: https://codesandbox.io/s/choc-ui-packages-codesandbox-forked-0ziuu?file=/src/App.js

Can you tell me why this error is?
thank you.

[2021-08-10 05:20] subzero79 opened #49 "AutoComplete input does not obbey width props"
Seems like the autocompleteinput has a Wrap element with hardcoded props including wdith.

https://github.com/anubra266/choc-autocomplete/blob/ae397629bb40806a02dcc1ef632b1b7a672609f9/src/autocomplete-input.tsx#L46

I couldn't not figure out how to override those. No matter what width i set in autocompleteinput it stays fixed at '80'. They are coming from here i think https://github.com/anubra266/

[2021-08-10 14:33] guilnorth commented on #41
Maybe the possibility to pass a custom filter, for example if i need to filter by name or by email. Is a very commom use case, like https://react-select.com/advanced#custom-filter-logic.

Great, thank you!

[2021-08-10 14:40] anubra266 commented on #41
@guilnorth the `AutoComplete` component actually has a `filter` prop, it accepts a function that you can use to acces the value passed to the items, and filter as you wish. It provides, the `inputQuery`, the `itemValue` and the `itemLabel`

[2021-08-10 15:42] anubra266 opened #50 "I updated to the latest version, input and select an option will appear the following error"
I updated to the latest version, input and select an option will appear the following error

[code]

Demo: https://codesandbox.io/s/choc-ui-packages-codesandbox-forked-0ziuu?file=/src/App.js

Can you tell me why this error is?
thank you.

_Originally posted by @StringKe in https://github.com/anubra266/choc-autocomplete/issues/45#issuecomment-895709060_

[2021-08-10 16:43] #50 closed

[2021-08-10 16:44] anubra266 commented on #50
Fixed in [v4.4.7](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.4.7)

[2021-08-10 18:01] #41 closed

[2021-08-10 21:44] karimcambridge commented on #48
I never get stuff to work on Codesandbox lol thats why I dont use it

[2021-08-10 21:46] anubra266 commented on #48
Update and see if you're still encountering any errors.

[2021-08-10 22:15] karimcambridge commented on #48
No,

ok try to understand me and look at these screenshots

![image](https://user-images.githubusercontent.com/4283893/128941916-4eb9b6dc-9d07-4aed-adf7-f9b1de423979.png)

Flex is yellow and input is red, im trying to get the input width to fill up the flex

The searchbar is in a grid and the grid is 3 items/columns

I removed the other elements to make it simplier

[code]

[2021-08-10 22:31] anubra266 commented on #48
Ah...I've seen it now. Thanks!

[2021-08-10 22:32] anubra266 commented on #48
Fixed in [v4.5.1](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.5.1) @karimcambridge

[2021-08-10 22:40] karimcambridge commented on #48
Thanks, also why is _focus background transparent by default on `AutoCompleteInput`?

[2021-08-10 23:09] karimcambridge commented on #48
Also @anubra266 if I wrap the input in an inputgroup now the lists go off to the right

[code]

[2021-08-10 23:11] anubra266 commented on #48
@karimcambridge the suggestions should be outside the inputgroup.

[2021-08-10 23:15] anubra266 commented on #48
https://github.com/chakra-ui/chakra-ui/blob/4da9b04ae5b3a4a521f8e83962254dfd34406015/packages/theme/src/components/input.ts#L135-L138

@karimcambridge That's the default for Chakra filled variant inputs

[2021-08-10 23:15] karimcambridge commented on #48
Right, dumb me.

Last thing..

How to match up the AutoCompleteItem with with the flexbox?

![chrome_Ih36DYjdhv](https://user-images.githubusercontent.com/4283893/128946586-4a7cf7a4-e264-46a9-8f93-f0d45cc050d0.png)
![chrome_AVjr2glNGF](https://user-images.githubusercontent.com/4283893/128946673-ab006b6e-0728-4676-9098-a94cac27f0e2.png)

[2021-08-10 23:18] anubra266 commented on #48
I'm not sure I understand but, the list automatically matches the width of the input
<img width="717" alt="CleanShot 2021-08-11 at 00 17 36@2x" src="https://user-images.githubusercontent.com/30869823/128946873-1566dc13-15d0-4144-bd0e-b4cd94f8d4fb.png">

[2021-08-10 23:23] anubra266 commented on #48
@karimcambridge a change in the last release introduces a bug to the matching width... I'll release a fix

[2021-08-10 23:31] anubra266 commented on #48
It's fixed in [v4.5.2](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.5.2)

[2021-08-11 00:05] karimcambridge commented on #48
@anubra266 thank you but now the width of the input isn't changing and its small (like static.. almost like in your examples)

You've seen my code

![image](https://user-images.githubusercontent.com/4283893/128950118-bf9cab78-cc06-4c63-a5fc-861524db342a.png)

see how the InputRightElement is all the way over there now? I tried putting `width='full'` on the `Flex` and the `AutoCompleteInput`, nothi

[2021-08-11 03:45] StringKe commented on #48
The width of the div that wraps the input component is set to fit-content

![image](https://user-images.githubusercontent.com/31089228/128966341-98fd3e81-ebe7-4737-91ba-9de950de9de7.png)

[2021-08-11 09:01] anubra266 commented on #48
@karimcambridge and @Stringke, while I take a look at this, you should know, there's a `wrapStyles` prop for the input, to style that wrap that encloses the Input.

[2021-08-11 09:15] StringKe commented on #48
You are right. In the previous version, `getMultipleWrapStyles` was only enabled when multiple selections were made. There should be a document to view the current changes.

[2021-08-11 12:13] anubra266 commented on #48
@StringKe and @karimcambridge, I'm a little busy, so I would appreciate any constructive PR's.

[2021-08-11 12:24] StringKe commented on #48
https://github.com/commitizen/cz-cli
https://github.com/conventional-changelog/conventional-changelog

Maybe you can use these two tools to generate `CHANGELOG`

[2021-08-11 16:58] anubra266 commented on #48
Cool...Thanks @StringKe

[2021-08-11 16:58] #48 closed

[2021-08-11 19:58] karimcambridge commented on #48
I had to use ```js
wrapStyles={{
							width: 'full',
						}}
[code]

[2021-08-13 00:17] subzero79 opened #51 "The component doesn't work in build"
I though  it was going crazy. I am fetching the list and the already selected items from external API. Everything worked in localhost but not in build. In my case i use next with TS

I created this codesandbox with next and TS

https://codesandbox.io/s/k0qfj

values are hardcoded there. An it works fine.

This is the same code deployed to vercel directly from codesandbox

https://csb-k0qfj-subzero

[2021-08-13 07:27] anubra266 commented on #51
Damn. You're right @subzero79. I currently have no idea why, but I'll look into it.

[2021-08-13 07:38] anubra266 commented on #51
Found it @subzero79 Releasing a fix now.

[2021-08-13 07:40] subzero79 commented on #51
Thanks. Btw how do you start debugging something like this ?

[2021-08-13 07:43] anubra266 commented on #51
@subzero79 This time, it was lucky instincts. But the right way to get stuff like this is with automated testing. I haven't done that cause I'm still learning it.

[2021-08-13 07:44] anubra266 commented on #51
FIxed in [v4.5.4](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.5.4)

[2021-08-13 07:44] #51 closed

[2021-08-13 08:29] StringKe opened #52 "Do not need to release the src directory?"
![image](https://user-images.githubusercontent.com/31089228/129328167-45731c27-94a3-46b2-82a5-cf12c059a2ea.png)

[code]

[2021-08-13 08:30] anubra266 commented on #52
Cool...thanks for bringing this to my notice.

[2021-08-13 08:32] #52 closed

[2021-08-13 08:35] anubra266 commented on #52
@StringKe Can you confirm, it's fixed?

[2021-08-13 08:38] StringKe commented on #52
It has been fixed.

[2021-08-13 08:40] StringKe opened #53 "How to select the first option in the carriage return event?"
I hope that `<AutoComplete/>` can correctly trigger the `Enter event` regardless of whether the option is selected or not

[2021-08-13 08:42] anubra266 commented on #53
would an `onEnterKeydown` event prop be okay?

[2021-08-13 08:43] StringKe commented on #53
I try to listen to the `onKeypress` event of `AutoCompleteInput`, but I can’t listen to the `Enter` event properly anyway

[2021-08-13 08:47] anubra266 commented on #53
You should do something like this:

[code]

[2021-08-13 08:48] StringKe commented on #53
Does `react` or `charka` have this event?

[2021-08-13 08:49] StringKe commented on #53
I understand, thank you

[2021-08-13 08:49] #53 closed

[2021-08-19 16:23] DeiverJC opened #54 "React does not recognize the `rollNavigation` prop on a DOM element."
Hello, This property is causing an error when rendering the input. I'm using NextJS.

[2021-08-19 16:41] anubra266 commented on #54
Hi! what version are you using?

[2021-08-19 19:36] DeiverJC commented on #54
I'm using the version 4.5.5. Even in your codesandbox example I get the same error in console [Chakra Autocomplete Demo](https://codesandbox.io/s/chakra-autocomplete-demo-elurs)

[2021-08-19 19:58] anubra266 commented on #54
Hi! @DeiverJC the error occurs because your `rollNavigation` is not on the `AutoComplete` component. you might have put it on the `AutoCompleteList` component instead, that was the mistake in the codesandbox demo.

[2021-08-20 13:38] DeiverJC commented on #54
Thanks a lot.

[2021-08-20 13:38] #54 closed

[2021-08-24 14:01] tell-y opened #55 "Not shown selected value after selecting option"
In v4.5.5 latest version, when you select an option, you can not see the value.

Check the representation using [demo](https://codesandbox.io/s/chakra-autocomplete-demo-elurs) with v4.5.5

Thanks

[2021-08-24 14:03] tell-y opened #56 "Demo with latest version"
Why don't you deploy the [demo](https://codesandbox.io/s/chakra-autocomplete-demo-elurs) with the latest version after the new release?

[2021-08-25 00:56] anubra266 commented on #56
I'm having exams, can't work on this yet. PR's will be appreciated though.

Solution

Create a demo folder in the repository that holds the codesandbox demo, and uses the latest version.
The demo link in the readme, now won't link to a premade sandbox, but would use the `githubbox` method to open the demo folder in codesandbox

https://githubbox.com/anubra266/choc-autocomplete/demo

[2021-08-26 18:01] eric-hc opened #58 "bug(creatable): cannot render AutoCompleteCreatable"
Following these docs:

[code]

I was not able to render the `<AutoCompleteCreatable>` component within the `AutoCompleteList`

[2021-08-28 18:10] RyanMcpherson141 commented on #58
Facing same issue. Please let me know when it is fixed or if there is a temp fix for it.

[2021-08-29 15:34] #58 closed

[2021-08-29 15:37] anubra266 commented on #58
Fixed in v4.5.8 @RyanMcpherson141 @jamesopti @eric-hc

[2021-08-29 16:00] jamesopti opened #60 "Allow passing an entire object to AutoCompleteItem as the value"
# Overview

It's very common to use a component like this with a list of objects. While the input value is always a string, it would be nice to also pass the entire object to `AutoComplete` and invoke the `onSelectOption` with that value.

## Example

[code]

[2021-08-29 16:04] anubra266 commented on #60
The list is filteredd based on the string value, how do you suggest this fits in.

[2021-08-29 16:36] jamesopti commented on #60
Isn't the list [filtered by the caller (which is optional)](https://github.com/anubra266/choc-autocomplete/blob/main/src/use-autocomplete.ts#L92-L104)? I'm hooking it up to a search API, so I expect the full list to be whatever I pass in.

While changing the value input to an object would be a larger refactor, it would align closer to the MaterialUI Autocomplete API: https://material-ui.com/api/au

[2021-08-29 16:58] jamesopti commented on #60
For more context, my current workaround is to find the user by email address on selection, which is brittle and makes it even harder to detect the "Creatable" user

[code]

[2021-08-29 20:46] anubra266 commented on #60
Okay @jamesopti I'll go with the first option, and add an `item` prop.

[2021-08-30 21:04] jamesopti opened #62 "AutoCompleteCreatable doesn't work with AutoCompleteInput tags"
When selecting the creatable, the render function is passed an object with only the remove function (`{ onRemove }` )

I may be missing something, but a Codesandbox demo of creatable with tags would be great!

[2021-08-30 22:27] jamesopti opened #63 "Support Chakra InputGroup as option for rendering the input element"
I'd like to have an icon next to my input, which Chakra has a pattern for in `InputGroup`: https://chakra-ui.com/docs/form/input#add-elements-inside-input

[2021-08-31 00:55] anubra266 commented on #63
You can use the `AutoCompleteInput` on `InputGroup` just like the normal chakra `Input`

[2021-08-31 00:58] jamesopti commented on #63
Doesn't this line always render an `Input` element? https://github.com/anubra266/choc-autocomplete/blob/main/src/autocomplete-input.tsx#L48-L49

How would I go about using something like this:

[code]

[2021-08-31 01:00] anubra266 commented on #62
You're right. Creatable does not provide the right object. Thanks for creating this issue

[2021-08-31 01:01] anubra266 commented on #63
Just replace `<Input type="tel" placeholder="Phone number" />` with `<AutoCompleteInput type="tel" placeholder="Phone number" />`

[2021-08-31 01:02] anubra266 commented on #63
There's an example [here](https://codesandbox.io/s/chakra-autocomplete-demo-elurs?file=/src/with-icon.js)

[2021-08-31 01:09] jamesopti commented on #63
Thanks for the example! I realized that my issue is using multi-select with tags. In this case, the icon always stays at the top.

Here's a codesandbox fork showing the issue!

https://codesandbox.io/s/chakra-autocomplete-demo-forked-24le3?file=/src/multi-select.js

[2021-08-31 04:42] jamesopti opened #64 "feat (multiselect): API methods for removing one item or all items"
When using multi-select, it would be nice to have an API to remove a single selected item or to clear all items (reset) from _outside_ the component.

I think the most idiomatic React way to do this in the current architecture of AutoComplete would be to expose an `onReady` or `init` callback which provides these methods.

[code]

[2021-08-31 19:10] anubra266 commented on #64
Hi @jamesopti, I might be quite naive on this topic, so could you expatriate more on the features we're trying to achieve here. Thsnkd.

[2021-09-02 16:56] jamesopti commented on #64
Sure! I have 2 examples in mind here:

**_For clear_**
1 - A "Submit" button for the entries should be able to reset the internal state of the component.
2 - A "Clear/Reset" button in the UI that lives outside the AutoComplete component.

Right now, the hack to do this is to change the `key` prop to the component (we're incrementing by 1)

**_For removeItem_**
1 - Pressing backspace when the input

[2021-09-02 17:40] anubra266 commented on #64
Oh...thanks @jamesopti I now understand what you;re asking for.

[2021-09-03 06:16] Overdrive141 opened #65 "AutoCompleteTag resizes the AutoCompleteInput component"
When using multiple prop in AutoComplete, if I choose multiple tags then it resizes the entire AutoCompleteInput component and makes it wider/longer. Can there be a way to solve this?

Alternatively, can we use tags outside AutoCompleteInput and above that component so that it does not resize the parent.

[2021-09-04 06:28] anubra266 commented on #64
I wanna perfectly get it right @jamesopti that onReady is a function that is run when the component is rendered, and provides this methods you'll like to use from the component.

[2021-09-04 13:40] yashrank4 commented on #62
![Screenshot from 2021-09-04 19-09-23](https://user-images.githubusercontent.com/72604380/132096426-02b1f09c-bbec-49a6-bcbc-a21a9059c13c.png)

I am also facing same issue. values are not setting up in tags in  type "UseAutoCompleteReturn"
This causing the empty rendering span with no value inside.

[2021-09-06 09:41] tabvn commented on #55
the same bug.

[2021-09-06 22:24] #55 closed

[2021-09-06 22:27] anubra266 commented on #55
@tell-y @tabvn this should be fixed in [v4.5.9](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.5.9)

[2021-09-06 22:58] #62 closed

[2021-09-06 23:00] anubra266 commented on #62
@jamesopti @yashrank4 this should be fixed in [v4.5.10](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.5.10)

[2021-09-11 00:31] SteveWallace opened #66 "Using Autocomplete with react-instantsearch-dom HOCs"
I'm currently trying to implement a search field using react-instantsearch-dom and chakra-autocomplete. I seem to be hitting a wall when rendering the AutoCompleteList. I believe the issue is that the reference or context of AutoComplete is getting lost but I'm not sure how to solve it.

The search box part looks like this
[code]

With the SearchResults component looking like this and then being w

[2021-09-11 16:12] anubra266 commented on #66
Ive not tested this, but try importing 'forwardRef' from chakra UI and pass the provided ref to 'AutocompleteList' component.

[2021-09-11 17:23] SteveWallace commented on #66
Alright, I will give it a try and report back.

[2021-09-11 22:35] SteveWallace commented on #66
I'm not able to get it to work, though I could be using forwardRef incorrectly. I tried two different versions. One where I built the full AutoComplete component like this.

[code]
With SearchResults

[code]

And a second where I just built the AutoCompleteList
[code]
Calling it inside a normal AutoComplete and the SearchResults only being
[code]

Neither made any difference. In both instances the

[2021-09-12 23:30] anubra266 commented on #66
Hi @SteveWallace I'm afraid I haven't found a workaround for this yet, because, the approach is of the package is to scan children for `AutoCompleteItem`s but separating it into a different component, makes it impossible to access those Items.

The only way to overcome this as at now(not implemented yet); the user will have to pass the options as an array prop to the `AutoComplete` component, so t

[2021-09-13 00:40] SteveWallace commented on #66
@anubra266 No problem! I get why you built it that way and it makes sense. I suspected that would end up the case. I appreciate you having a look.

[2021-09-13 11:43] selvinkuik opened #67 "Not able to change borderRadius on AutoCompleteList"
I have the following implementation:

[code]

However, border radius is not registering. I can confirm, other style props (e.g. fontSize) work.

[2021-09-13 11:53] anubra266 commented on #67
Could you provide a codesandbox reproduction please?

[2021-09-13 12:47] selvinkuik commented on #67
Sure, here you go: https://codesandbox.io/s/choc-ui-packages-codesandbox-forked-76vih?file=/src/App.js

On line 24 notice how `mt` works but both `borderRadius` and `boxShadow` do not

[2021-09-13 12:58] selvinkuik commented on #67
Possibly related, but in the codesandbox above, I realise not all style props are pulling through for `AutoCompleteGroupTitle` either

[2021-09-14 04:43] selvinkuik opened #68 "Unable to clear selection"
codesandbox: https://codesandbox.io/s/choc-ui-packages-codesandbox-forked-76vih?file=/src/App.js

![](https://media4.giphy.com/media/NNkJDe0BGXLTKA5HMM/giphy.gif?cid=790b7611d841edbcb4044a9ecc60df30505565ee7f1c94e3&rid=giphy.gif&ct=g)

Steps to reproduce:

1. Make a selection
2. Clear the text in the input
3. Blur the field

Expected behaviour:

The state of the input is reset so when focus is reg

[2021-09-14 07:27] anubra266 commented on #68
You're looking for the `freeSolo` prop, and you might want the `selectOnFocus` prop.

[2021-09-16 04:11] manoj-savantly commented on #68
@anubra266 No, I guess this is a different use case.

Once a user has selected a value, what if they decide to not select this field? There is no way to clear the selection right now.
In `multiple` selection mode, we can do this with the `x` button on the tags, but in single selection mode this is not possible.

Or am I missing something?

[2021-09-16 08:59] anubra266 commented on #68
Oh I understand what you're saying now @manoj-savantly, Then this is a duplicate of #54, so I'll be closing it in favour of that.

[2021-09-16 08:59] #68 closed

[2021-09-21 03:31] tell-y commented on #51
Hi I'm also facing this issue with @choc-ui/chakra-autocomplete@4.5.10 in Nextjs@11.1.2 / react@17.0.2.
@anubra266

How about your current status? @subzero79

[2021-09-21 09:20] subzero79 commented on #51
It works fine for me now in my production site.

[2021-09-22 12:42] tell-y commented on #51
Thank you.
I'll struggle to investigate it...

[2021-09-22 12:43] anubra266 commented on #51
@tell-y Are you able to reproduce the issue in codesandbox

[2021-09-23 09:51] anubra266 commented on #66
Hi @SteveWallace found a way around this, so it's fixed in [v4.6.0](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.6.0).

[2021-09-23 18:55] SteveWallace commented on #66
Nice, I'll give it a go tonight.

[2021-09-25 18:51] wilsonfaustino commented on #65
It would be great to have the possibility to use AutoCompleteTags outside the Input. Above or below.

[2021-09-26 13:30] anubra266 opened #72 "It would be great to have the possibility to use AutoCompleteTags outside the Input. Above or below."
It would be great to have the possibility to use AutoCompleteTags outside the Input. Above or below.

_Originally posted by @wilsonfaustino in https://github.com/anubra266/choc-autocomplete/issues/65#issuecomment-927167346_

[2021-09-26 14:15] #72 closed

[2021-09-26 14:20] anubra266 commented on #72
@wilsonfaustino and @Overdrive141 you can now access the tags outside the input in [v4.7.0](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.7.0)

[code]

[2021-09-26 14:21] anubra266 commented on #65
It's done now @wilsonfaustino

[2021-09-26 14:21] anubra266 commented on #65
@Overdrive141 The alternative is now available, but you can also set a fixed size on the input's width to prevent autogrowing.

[2021-09-26 14:22] anubra266 commented on #65
Feel free to reopen this if any issues persit. Closing now.

[2021-09-26 14:22] #65 closed

[2021-09-26 14:41] wilsonfaustino commented on #72
Amazing work. Thanks.

[2021-09-26 19:39] #67 closed

[2021-09-26 19:41] anubra266 commented on #67
@selvinkuik  Thanks to @Buupu this is fixed in [v4.7.1](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.7.1)

[2021-09-27 07:58] #56 closed

[2021-09-27 11:00] #60 closed

[2021-09-27 11:05] anubra266 commented on #60
Hi @jamesopti, really sorry it took the long. Just finished my exams. The `value` prop now accepts objects, and the `getValue` prop is now available to resolve the value used by default. If the `getValue`  prop does not exist and you pass an object as the value, the first key in the value is used. See changes in [v4.8.0](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.8.0)

[2021-09-28 01:39] gepd opened #77 "Basic Selector with RHF"
I need help to use this library with `react-hook-form`

I want to keep showing the `label` parameter while I'm using the `value` in RHF. Currently if I select an item from the list it will display the `value` as `label`. Maybe I don't understand well the use of label and value

This is the reproduction sandbox

https://codesandbox.io/s/lucid-fire-jq1nj?file=/src/basic.js

[2021-09-28 09:14] anubra266 commented on #77
Hi @gepd It's not working because you have `children` in your `AutocompleteItem`. The `children` is considered before the `label`. So change
[code]
to
[code]

[2021-09-28 20:27] wilsonfaustino opened #78 "Suggestion: error or feedback in 'maxSelections' in multiple mode"
Is there any feedback from API when I reach the max number specified in 'maxSelections' attribute in multiple mode?
I would like to use it with Chakra FormErrorMessage.

[2021-09-28 21:40] anubra266 commented on #78
No there isn't I'll look into this.

[2021-09-29 00:41] gepd commented on #77
I have updated the example but I'm getting the same result; the input is updated with the value selected (value in the `value` prop)

You can see the behavior in the same link

[2021-09-29 08:09] anubra266 commented on #77
Oh @gepd you're using a controlled input. You don't need `value={value}` on the input.

[2021-09-29 21:05] wilsonfaustino commented on #78
Hi, @anubra266 , I'm afraid I didn't get it. Once I defined a `maxSelections` value I cannot add more than the number passed.
That's why I want to provide visual feedback to users.
My code attempt so far:
[code]

[2021-09-29 21:08] anubra266 commented on #78
@wilsonfaustino what I mean is `if(tags.length === maxSuggestions) showVisualFeedback()`

[2021-09-29 22:37] #64 closed

[2021-09-29 22:40] anubra266 commented on #64
You can now do
[code]

[2021-09-29 23:36] subzero79 opened #79 "Strange issue with array of objects when using defaultValues"
This issue comes with latest version (i think). I have in my dashboard using package.json version ^4.5.4 on latest deploy it went to 4.9.0. So i have to fix it back to 4.5.4

I pass the default selected values as an array of numbers as string(id's). The list is an array of objects as type item

[code]

Basically the issue is that at first render the defaultValues show only the list of id's(values)

[2021-09-30 08:56] anubra266 commented on #63
Hi @jamesopti check this out

https://codesandbox.io/s/chakra-autocomplete-demo-forked-9tsov?file=/src/multi-select.js

[2021-10-01 00:48] hnipps opened #80 "Pressing "Tab" or arrow keys throws error when AutoCompleteList not open"
Pretty much what the title says.

Reproduction steps:
1. Focus the AutoComplete input field
2. Press "Tab"
3. Error thrown in console `Uncaught TypeError: Cannot read properties of undefined (reading 'value')`

The issue can be reproduced in the demos on your website - https://choc-ui.tech/docs/packages/autocomplete

[2021-10-01 03:42] gepd commented on #77
Thanks @anubra266  removing `value` from the input solved my problem.

What do you think of put sandbox with this kind of examples in the docs? I can send you the links so you can fork it if you want

[2021-10-01 07:55] anubra266 commented on #77
Hi @gepd there's a codesandbox link in the readme after the examples that is created from the demo folder in the repo, you can make a PR, and add your examples to that folder, thanks!

[2021-10-01 07:55] anubra266 commented on #77
Hi @gepd there's a codesandbox link in the readme after the examples that is created from the demo folder in the repo, you can make a PR, and add your examples to that folder, thanks!

[2021-10-01 09:33] #77 closed

[2021-10-01 13:15] gepd commented on #77
I'll re-open this issue as I have one more doubt, I can't set the default value with my code. I've tried to add the `defaultValue` to the `AutoComplete` Tag and `AutoCompleteInput` but I neither of the options seems to work and there no example for that case in the folder example

[2021-10-01 20:24] gepd opened #81 ""Tab" does not work with `openOnFocus`"
When you add `openOnFocus` prop, it will open the list of items when you get focus in the input, this is an expected behavior, however after select an option if you press the tab key, you can't go to the next item, I've tried using `tabIndex` with not luck

If you don't have the `openOnFocus` prop you will get the error https://github.com/anubra266/choc-autocomplete/issues/80

[2021-10-05 23:55] quangtin opened #82 "Can't apply on form formik"
I'm using charkui and form formik. When I apply your autocomplete field with form formik, it show a error "Cannot read properties of undefined (reading 'persist')". After reproducing, I recognized that the onBlur is not passed a args (e) like onChange.
Block code happend error:

onBlur: function onBlur(e) {

          var _inputWrapperRef$curr;
          runIfFn(_onBlur);
          var listIsFocus

[2021-10-14 10:31] anubra266 commented on #66
@SteveWallace I'm really sorry, I'll be reversing this till I find a better way. The current approach is now blocking a lot of things.

[2021-10-16 17:09] valerius21 commented on #82
having the same problem when using the `Field` Tag

[2021-10-16 18:10] #79 closed

[2021-10-16 18:13] #80 closed

[2021-10-16 18:13] #81 closed

[2021-10-16 18:16] #82 closed

[2021-10-16 19:53] gepd commented on #77
Hey @anubra266 should I create a new issue for this problem?

[2021-10-17 10:20] subzero79 opened #87 "Pressing tab with an empty list"
I am working on a component to fill suburb, postcode and state in a form. So the available list is fetched async as typing the string suburb. I just noticed that when the list is empty( nothing is typed yet) if you press tab it will try to pull up the list and go next value according to the code.

https://github.com/anubra266/choc-autocomplete/blob/662594ca665a113d558967cbac7d0263ff963d7a/src/use-

[2021-10-17 15:36] anubra266 commented on #87
Hi @subzero79  this is fixed in [v4.10.3](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.10.3)

[2021-10-17 15:42] anubra266 opened #88 "defaultValue not working"
Hey @anubra266 should I create a new issue for this problem?

_Originally posted by @gepd in https://github.com/anubra266/choc-autocomplete/issues/77#issuecomment-944996953_

[2021-10-17 15:49] #88 closed, assigned to nobody

[2021-10-17 19:22] wilsonfaustino commented on #72
Nice, @anubra266 Iĺl try it out

[2021-10-19 07:01] anubra266 opened #89 "Can you help me here again? I have updated the example https://codesandbox.io/s/lucid-fire-jq1nj?file=/src/basic.js"
Can you help me here again? I have updated the example https://codesandbox.io/s/lucid-fire-jq1nj?file=/src/basic.js

I'm trying to make work the component with a default value using `label` and `value`.
I have added the `value` prop to the input component to be able to update the value of the input with the `reset` function of RHF

The problem is when you change to other option it will let the inp

[2021-10-26 17:45] jmcelreavey opened #90 "Feature: isLoading & loadingIcon property to set loading state"
Sometimes an async operation is required when a search is being input, in these scenarios it would be nice if we could pass our loading flag to the input and see a spinner or icon of our choice to depict that it is loading.

[2021-10-30 05:21] gepd commented on #89
Hey @anubra266 I think you are very closer to solve this problem, I can see now the value in the input, however If I pass an object the value of `AutocompleteInput` component will be `[object Object]`

If I do

[code]
I'll have a type error (I'm using typescript)

I shouldn't modify onChange as problem is in the first render. Maybe the `AutocompleteInput` should have a new prop `selectDisplay` wit

[2021-10-30 10:25] anubra266 commented on #89
@gepd, you don't need to pass an object ast the value, if value of your `AutoCompleteItem`s are objects, just pass the value key as the value of the `AutoComplete`, it'll automatically be resolved to match the Item that has that value as it's `value` key

[2021-10-30 23:33] gepd commented on #89
I have updated the first example and is not working, as you can see in the first render, I keep seing the `value` and even when you press the reset button it shows the given value, you can verify in the console after press submit

[2021-10-31 13:07] anubra266 commented on #89
@gepd Fixed in [v4.11.1](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.11.1)

[2021-10-31 13:07] #89 closed

[2021-10-31 14:12] anilanar opened #91 "Is it a bug or is it a feature?"
I'm having trouble making `AutoComplete` work in a sensible way.

Looking at the `codesandbox` example, it doesn't work in a sensible way either.

Could you provide `codesandbox` examples on how to use `AutoComplete` so that the input field can be edited freely by typing? Currently input fields in `codesandbox` examples are not editeable at all. In fact, the `Basic` example is quite useless. Canno

[2021-10-31 14:49] anubra266 commented on #91
@anilanar there was a broken release, should be fixed in [v4.11.2](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.11.2)

[2021-10-31 14:49] #91 closed

[2021-10-31 15:12] gepd opened #92 "Input not updating styles"
When I set the `variant` prop to the `InputAutocomplete` I don't see any change. It seems like stylings are not taking any effect on it

[2021-10-31 15:23] gepd opened #93 "multi select starts with empty value"
as you can see in your sandbox example https://githubbox.com/anubra266/choc-autocomplete/tree/main/demo

The multi selection input always starts with an empty tag

![image](https://user-images.githubusercontent.com/7091609/139590570-d69042d3-2e33-4885-8632-d0a407dc2fe6.png)

[2021-10-31 15:40] #92 closed

[2021-10-31 15:49] #93 closed

[2021-10-31 16:46] gepd opened #94 "Next item with Tab"
If you have multiples inputs, you can go to the next one pressing`tab`, when you are in the autcomplete component, it opens the option list, but when you already selected an option, there is no way to go to the next one (with the keyboard)

Is there a way to improve this?

![autocomplete-bug](https://user-images.githubusercontent.com/7091609/139592476-d91898f6-9283-48e8-99a6-291c8e92f12a.gif)

Oth

[2021-10-31 19:55] anubra266 commented on #94
@gepd, you can navigate the items with the arrow keys

[2021-10-31 21:11] gepd commented on #94
My issue is not navigate with elements of the list, I do that without problem, what I'm trying to resolve is the navigation between autocomplete components only with the keyboard, I know when you get the focus it will display the list, but after select an option I can't go to the next element (input) of the form, the only way to that is the cursor

[2021-10-31 21:24] anilanar commented on #94
Yeah basically `Autocomplete` traps the focus after making a selection.

[2021-11-01 17:32] gepd commented on #88
With the last release, the defaultValue stopped to working in uncontrolled mode

[2021-11-01 20:21] anubra266 commented on #88
@gepd please create a codesandbox reproduction

[2021-11-05 15:08] f-laino commented on #68
Hi,
I have same issue and using ref (as suggested) doesn't help me.
I have items as "reach" object, e.g.:
[code]
where the value is a combination of `uri` and `anchor` (a link), and the behaviour is that in input field appear last selected value, e.g. `/text-one#hello-by-me`, instead empty value or last label (`Text one`)

demo: https://codesandbox.io/s/choc-ui-packages-codesandbox-forked-rfs5o?fi

[2021-11-05 16:06] anubra266 commented on #68
Hi @f-laino your codesandbox reproduction doesn't show you trying to clear the input. Could you explain better what you're trying to achieve? Thanks.

[2021-11-05 16:35] f-laino commented on #68
Expected behaviour is the same of @selvinkuik , so when I search for item that doesn't exists and than focus out from input, the value of input must not change (empty or previous selected item).
This behaviour occurs correctly when items have simple `value` parameter.

Thank you

[2021-11-05 21:35] anubra266 opened #95 "Input value, switching from item label to value after focus in and out."
Expected behaviour is the same of @selvinkuik , so when I search for item that doesn't exists and than focus out from input, the value of input must not change (empty or previous selected item).
This behaviour occurs correctly when items have simple `value` parameter.

Thank you

_Originally posted by @f-laino in https://github.com/anubra266/choc-autocomplete/issues/68#issuecomment-962043271_

[2021-11-08 17:41] gepd opened #96 "Controlled Mode multi selection not working"
Same as https://github.com/anubra266/choc-autocomplete/issues/89 but when the component allows multi selection, it doesn't update de input value in controlled mode

Reproduction: https://codesandbox.io/s/lucid-fire-jq1nj?file=/src/basic.js

[2021-11-12 19:08] Wiz1991 opened #97 "Undefined has no properties"
![image](https://user-images.githubusercontent.com/45233935/141521355-94026d86-2f41-4c16-99f3-750fee96a8e2.png)
[code]
I am not entirely sure what is going on here. If i pass the entire object from map instead of trying a different value for label and value, it works. However with this i am getting the undefined error as seen in the picture

[2021-11-12 21:06] anubra266 commented on #97
Please create a codesandbox reproduction @Wiz1991

[2021-11-16 21:24] tmarnet commented on #94
I have the same issue, which is not good for a11y 😞
Do we have any update on this ?

[2021-11-16 22:04] #94 closed

[2021-11-16 22:16] anubra266 commented on #97
Fell free to reopen this when you have a reproduction @Wiz1991. Happy coding

[2021-11-16 22:16] #97 closed

[2021-11-16 22:44] gepd opened #99 "Array as default value in controlled mode does not show the right tags"
If I set an array as default value (in controlled mode), it doesn't work as expected, if I set an string, it work but by default, I will have multiples values

reproduction: https://codesandbox.io/s/lucid-fire-jq1nj?file=/src/basic.js

[2021-11-17 14:30] wkrasnicki opened #100 "Console.log in use-autocomplete.ts:312"
As the title says, version 4.11.5 has a console.log statement in tn line 312 of `use-autocomplete.ts`

[2021-11-17 16:01] #100 closed

[2021-11-17 16:03] anubra266 commented on #100
Thanks a lot @wkrasnicki  fixed in [v4.11.6](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.11.6)

[2021-11-17 16:12] anubra266 commented on #99
@gepd strangest thing ever, but I added an example, and mine works [here](https://codesandbox.io/s/boring-mayer-tt8tn?file=/src/basic.js). Can't even find the difference yet

[2021-11-17 16:15] anubra266 commented on #99
@gepd use `values` not `value` in multiple mode.

[2021-11-17 16:15] #99 closed

[2021-11-17 16:23] anubra266 commented on #99
Jusr released a version that supports `value` in multiple mode [_v4.12.0_](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.12.0)

[2021-11-17 21:10] gepd commented on #99
thanks @anubra266 !

[2021-11-19 03:08] chr-ge opened #101 "AutoCompleteTag label switches to value with `multiple`"
Hello,
I've found a bug with the `AutoCompleteItem` and the `AutoCompleteTag` with the `multiple` prop:

When I select an item from the suggestion that has a custom label and search for something in the input, the tag label switches to its value. This happens when my `data` array (array being mapped over in AutoCompleteList) changes while typing.

My `AutoComplete`:
[code]

Here is my `AutoComplet

[2021-11-19 10:08] anubra266 commented on #101
Hi @chr-ge change your `setData` to
[code]

I don't have an indepth explanation but passing a function to `setState` methods, exposes the previous state, which you can utilise in setting the next state. directly using the existing state can cause confused mutations. Even worse now that you're using `setInterval`.

Happy coding.

[2021-11-19 10:08] #101 closed

[2021-11-19 23:26] chr-ge commented on #101
Thanks, @anubra266! Is it possible to have a function called on create? I want to make a post request whenever a new item is created? Thanks

[2021-11-20 02:11] anubra266 commented on #101
Cool @chr-ge please create a feature request issue

[2021-11-21 21:42] chr-ge opened #102 "[Feature Request] Add `onCreate` method"
## Feature Request
Add `onCreate` method to call when a new item is created. This would be useful for making a POST request on create.

[2021-11-22 13:28] #102 closed

[2021-11-22 13:29] anubra266 commented on #102
Hi @chr-ge this is available in [v4.13.0](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.13.0)

[2021-11-29 13:29] f-laino commented on #100
Also https://github.com/anubra266/choc-autocomplete/blob/main/src/use-autocomplete.ts#L184

[2021-11-29 18:42] anubra266 commented on #100
Thanks @f-laino

[2021-12-13 23:10] margalit opened #103 "Input with InputGroup does not span full width"
`AutoCompleteInput` within `InputGroup` does not behave the same as `Input` within `InputGroup`:

![image](https://user-images.githubusercontent.com/2268424/145903510-38e1884e-a674-4573-a6a2-2bd7f1034221.png)

[2021-12-25 20:41] karthikkolli opened #104 "Input group with icon is broken on latest release"
Results on 4.13.0 https://codesandbox.io/s/chakra-autocomplete-demo-forked-jicvz?file=/package.json
Results on 4.11.0 https://codesandbox.io/s/chakra-autocomplete-demo-forked-x69z6?file=/package.json

[2022-01-04 23:34] jamesopti opened #105 "[Feature Request]: Expose way to trigger selecting the current item when spacebar is pressed"
I'm using this library to capture email addresses. When the user types the space key, I'd like to be able to submit the current item.

**Ideas:**
- Expose `selectItem` to callers in the ref: https://github.com/anubra266/choc-autocomplete/blob/main/src/autocomplete.tsx#L31-L34
- Expose a prop to allow specific keys to trigger item selection (e.g. `submitKeys={['Enter', ',', ' ']}`)

[2022-01-05 00:02] jamesopti opened #106 "[Bug] Type for AutoCompleteRefMethods.removeItem is incorrect"
`removeItem` accepts an item value as its only argument, but the type suggests an optional `focus` boolean.

https://github.com/anubra266/choc-autocomplete/blob/main/src/types.ts#L148-L149

[2022-01-05 08:57] Jpac14 commented on #104
Experiencing this as well.

[2022-01-05 09:08] Jpac14 commented on #104
Another issue.
![image](https://user-images.githubusercontent.com/45907459/148190892-2a8e78bb-cc0e-4429-8940-69a81b8bb71f.png)
[code]
 with v4.13.0 and it doesn't happen in 4.11.0

[2022-01-05 16:45] #106 closed

[2022-01-05 16:56] anubra266 commented on #105
@jamesopti is this usecase multiple mode?

[2022-01-05 17:08] jamesopti commented on #105
Yup! We allow collecting multiple emails using this component, and since space is not a valid email character, the expectation is that space submits the current entry, just like return. (Gmail does this for example)

<img width="398" alt="Screen Shot 2022-01-05 at 9 06 22 AM" src="https://user-images.githubusercontent.com/3718812/148258774-a830a38f-7dc0-4ab3-9f9a-d80065eb713c.png">

[2022-01-05 17:15] anubra266 commented on #105
@jamesopti the package uses `event.key`, so If you're going to access space character, it would be `submitKeys={[" "]}`

[2022-01-05 17:20] #105 closed

[2022-01-05 17:23] jamesopti commented on #105
Awesome, thank you @anubra266  for the quick turnaround!

[2022-01-05 17:24] anubra266 commented on #105
@jamesopti It's available in [v4.15.0](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.15.0), you're welcome

[2022-01-13 12:00] thalesog opened #107 "Wrong npm build"
The NPM build is pointing to datetimepicker instead of autocomplete package

![image](https://user-images.githubusercontent.com/4792793/149326308-23652609-7c81-43a6-af18-6d5c12711291.png)

![image](https://user-images.githubusercontent.com/4792793/149326812-36df8c71-8844-4e59-bbab-07d03a5b4f0e.png)

[2022-01-13 12:22] anubra266 commented on #107
Yeah...I made a mistake while trying to publish the other package.

[2022-01-13 13:31] thalesog commented on #107
I think you can publish a updated version with the correct package and npm will release as latest

[2022-01-13 15:04] anubra266 commented on #107
I've been able to unpublish it @thalesog

[2022-01-13 15:04] #107 closed

[2022-01-22 22:08] SpencerKaiser opened #111 "[Question] How can I reference the value of the `AutoCompleteInput`?"
I have a few things I'd like to tweak for my use case, so I need access to the current value of the input. Ideally I'd have access to it so I could change the empty state to include a `Spinner` as I wait for options to be populated from an async call.

[2022-01-22 22:13] anubra266 commented on #111
@SpencerKaiser could you explain more what you're trying to do, don't really understand

[2022-01-22 22:16] SpencerKaiser commented on #111
@anubra266 thanks for getting back to me so quickly and thank you for the AWESOME component... it was perfect for what I needed 🙂

So here's what I'm trying to do:
[code]

Does that make sense? Basically I have a few places where knowing if the user has typed info into the input is meaningful

[2022-01-22 22:18] anubra266 commented on #111
But, the emptyState will never render when the input is empty though @SpencerKaiser

[2022-01-22 22:19] anubra266 commented on #111
But I understand, you want access to the value of the Input.

[2022-01-22 22:29] anubra266 commented on #111
@SpencerKaiser I just release [v4.15.2](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.15.2).
I forwarded a `ref` to the Input, so you can add a `ref` to `AutoCompleteInput` then, get the value with `inputRef?.current?.value`

[2022-01-22 22:29] #111 closed

[2022-01-22 22:33] SpencerKaiser commented on #111
When you initially click on the input, the empty state displays. The workaround I figured out (just maintaining my own boolean and setting it when it changes and after I fetch select items) works, here's a demo:

https://user-images.githubusercontent.com/6445731/150657524-1717c9d5-49a3-4f78-81c3-9b71e669dfec.mov

Thank you for adding the `ref`! That sounds like a perfect solution and it's one less

[2022-01-22 22:51] SpencerKaiser commented on #111
@anubra266 that worked perfectly 🤌

For anyone else who stumbles upon this, here's what I did after updating the package to the new version posted above:
[code]

[2022-01-26 23:33] SpencerKaiser commented on #60
@anubra266 what's the expectation if we want the `value` to just be an object?

I think I have a use case similar to @jamesopti where each option represents a pair of data but I don't want to display half of it to the user (an `address` and the corresponding `placeId` from Google Maps). I thought maybe passing the pair as an object into the `value` would be a good workaround, but after reading the

[2022-01-27 00:03] SpencerKaiser commented on #68
@anubra266 just to add onto this, `freeSolo` doesn't solve my issue either. If I select an option and then decide later I want to clear that option, deleting the input field contents and then clicking away just restores the display value of the previously selected item.

Ideally there would be `restoreOnBlurIfEmpty` prop that defaults to `true` where if the user triggers a blur, `freeSolo` is `fal

[2022-01-27 09:33] anubra266 commented on #60
@SpencerKaiser That's what this allows, just pass the object as the value of your Item, it can then be received in the `onChange` prop.

[2022-01-27 11:51] anubra266 commented on #68
@SpencerKaiser the `restoreOnBlurIfEmpty` prop is available in [v4.16.0](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.16.0)

[2022-01-27 13:40] jpc0rrea opened #114 "Can't set async options via useState hook"
I'm having a error when trying to set the options via useState hook. My code:

    import { KeyboardEventHandler, useState } from 'react';

    import {
      AutoComplete,
      AutoCompleteInput,
      AutoCompleteItem,
      AutoCompleteList,
    } from '@choc-ui/chakra-autocomplete';
    import { Competition } from '../../../../../lib/Scores365/types';
    import { competitionImageFrom365Score

[2022-01-27 13:53] jpc0rrea opened #115 "noOptionsMessage prop on AutoCompleteList"
It would be nice if we have a `noOptionsMessage` on the `<AutoCompleteList />` component, so we can customize the "No options found!" message.

The usage would be something like this:

      <AutoCompleteList noOptionsMessage="Não foi possível achar uma opção">
        {competitions?.map((competition) => (
          <AutoCompleteItem key={competition.id} value={competition.id}>
            <img

[2022-01-27 14:10] anubra266 commented on #114
@jpc0rrea The `AutoCompleteItem` is expecting a `value` prop, and optionally a `label` prop which does not exist on the `Competition` interface

[2022-01-27 14:12] anubra266 commented on #115
@jpc0rrea `AutoComplete` accepts an `emptyState` prop for this purpose, and you can pass react components to it and not just strings.
[code]

 Please check the Readme for more details

[2022-01-27 14:12] #115 closed

[2022-01-27 14:15] anubra266 commented on #114
@jpc0rrea According to the error, the problem is not from this package. You can try reproducing this in codesandbox. Feel free to reopen if you find something new

[2022-01-27 14:15] #114 closed

[2022-01-27 17:08] SpencerKaiser commented on #68
You're a bad ass 🦾 I'll pull down the new version and check it out!

[2022-01-27 17:26] SpencerKaiser commented on #60
So would I need to modify `getValue` to just return the full object? I read through the docs and it looks like you default to pulling out the value associated with the first key, which is what happened, but I was worried about trying the full object for some reason 😅

Just tried it now and it looks like I'm getting an error because `toLowerCase` isn't a method of the object I passed in as the valu

[2022-01-27 17:33] anubra266 commented on #60
@SpencerKaiser `getValue` tells what should be used in searching the item, `getValue={(address) => address.address}`

[2022-01-27 17:44] SpencerKaiser commented on #60
Alright I just got it all setup again and this was the issue...

[code]
The above works as expected, but when I select an item and set a debugger within `onSelection`, here's what `selectedOption` is:
![image](https://user-images.githubusercontent.com/6445731/151414074-8d62f36c-d142-4efb-a1e1-ffe727a4c444.png)

For my use case, I would expect `selectedOption.item.value` to be the full object so I

[2022-01-27 17:49] anubra266 commented on #60
Thanks @SpencerKaiser we could add a new key that holds the full object.

[2022-01-27 17:53] anubra266 opened #117 "Expose full value object in `onSelectOption`"
Alright I just got it all setup again and this was the issue...

[code]
The above works as expected, but when I select an item and set a debugger within `onSelection`, here's what `selectedOption` is:
![image](https://user-images.githubusercontent.com/6445731/151414074-8d62f36c-d142-4efb-a1e1-ffe727a4c444.png)

For my use case, I would expect `selectedOption.item.value` to be the full object so I

[2022-01-27 17:56] SpencerKaiser commented on #117
@anubra266 what are your thoughts on how to expose that? Think replacing `value` would be best or do you think a new attribute should be added there?

The former is a breaking change, but I think it'd be clearer to the user. Not really sure what the best approach would be.

[2022-01-27 18:00] anubra266 commented on #117
@SpencerKaiser  I'm trying to avoid breaking changes, so I was thinking:
1. add a `itemObj` key to `label` and `value`,
2. Just populate `item` with the keys in the itemObject. so we have `label`, `value` and the rest e.g. `address`

[2022-01-28 12:18] iamclaytonray opened #118 "Feature: Reset value when onBlur occurs"
If `creatable={false}`, when onBlur fires off, another value should be selected instead of keeping the previously typed text.

As much as I dislike MUI, it's the fastest example I could think of: https://mui.com/components/autocomplete/#main-content

[2022-01-28 12:25] iamclaytonray opened #119 "Feature: Add `searchable` prop"
Some autocomplete behavior may not require search or may want to prevent search. Adding `searchable={boolean}` would fix that

[2022-01-29 07:28] anubra266 commented on #119
Just add the `openOnFocus` prop, and remove the `AutoCompleteInput` component.

[2022-01-29 07:28] #119 closed

[2022-01-29 21:53] SpencerKaiser commented on #117
Sorry for the delay, yea that's a good call! I think that's a solid workaround.

[2022-01-30 13:29] anubra266 commented on #118
@iamclaytonray when you blur, the last selected value is selected. Could you shed more light on the behaviour you're expecting?

[2022-01-30 21:00] AshMW2724 commented on #103
Having the same issue
![image](https://legal-loli.art/8ErRcO7rPY.png)

[View on CodeSandbox](https://codesandbox.io/s/nervous-andras-hqqkz?file=/pages/index.tsx)

[2022-02-05 01:52] jcdogo commented on #117
I don't think that is a good idea to merge the objects.  What if the full object already has a `label` and `value` field? Then you'll have a key collision if you try to merge the fields from the full object into `item`.

[2022-02-05 02:02] jcdogo commented on #117
In my opinion having the `value` in the `item` not match the `value` passed to `AutoCompleteItem` is sort of a bug.  It's confusing that they are not the same. One would expect that if you pass in a value you get the same value back when selected.

Although it's a breaking change to change it to the full object, I think it's the solution that makes the most sense in the long run.

If you really do

[2022-02-05 12:20] #117 closed

[2022-02-06 18:23] SpencerKaiser opened #122 "[Feature Request] Add is `isInvalid` prop to `AutoCompleteInput`"
Chakra's `Input` element [has an optional prop for `isInvalid`](https://chakra-ui.com/docs/form/input#props), which is especially useful in forms managed by `yup`.

An ideal solution would be to have the `AutoCompleteInput` element expose an optional `isInvalid` prop and when the value provided to it is `true`, the styling of the input would match that of Chakra's (red border with same color and t

[2022-02-10 05:24] IamMrandrew commented on #111
@anubra266  Is it possible to **get notified when the input value is changed**? Like the `onChange` property on the `input` tag, not the existing `onChange` when the autocomplete value(s) changes.

I tried to put ref into it using `useRef()` but clearly it won't work as it won't notify when `ref.current.value` has changed.

I also tried to use the `useCallback` for the ref. But surprisingly, it do

[2022-02-10 16:40] wkrasnicki opened #123 "Feature: keyboard navigation, no scroll on arrows and tabbing"
Hello, I would like to propose some quality of life improvements to the keyboard navigation. First of all, when selecting suggestions using arrows, the page scrolls upon pressing arrow down or up. I think it would be better if we prevented the default scrolling action when the suggestion list is open or at least add a prop to do so.

The other issue has to do with tabbing. Currently I have a form,

[2022-02-10 17:48] anubra266 commented on #122
@SpencerKaiser the `AutoCompleteInput` accepts an `isInvalid` prop.
<img width="283" alt="CleanShot 2022-02-10 at 18 48 03@2x" src="https://user-images.githubusercontent.com/30869823/153466364-1603849f-872d-4030-be2b-1104802b22c6.png">

[2022-02-10 18:53] #103 closed

[2022-02-10 19:00] #118 closed

[2022-02-13 08:47] IamMrandrew commented on #111
@SpencerKaiser Finally have time to try it. Simple code works. 😂  I thought I cannot access `onChange` on `<AutoCompleteInput />`.

[code]

[2022-02-14 23:47] daliudzius opened #124 "Feature: "fixed" prop regardless of "maxSuggestions""
I'm using `AutoCompleteGroup` to show a divider then a `fixed` custom item (eg. Show All Categories) that should always be at the end of the suggestions -- however when limiting suggestions to a small number the `fixed` item doesn't show if the suggestions are maxed out.

Solution ideas:
- Make `fixed` item show even when suggestions reach `maxSuggestions`.
Or
- Include `maxSuggestions` prop for i

[2022-02-15 00:19] anubra266 commented on #124
Hi @daliudzius Could you create a codesandbox reproduction of this? thanks

[2022-02-15 01:20] SpencerKaiser commented on #122
@anubra266 so the `isInvalid` prop on the input component works as expected from a UI perspective (red highlight), BUT it seems to trigger an error:
[code]

Repro code:
[code]

Any idea what I'm doing wrong?

[2022-02-15 01:41] daliudzius commented on #124
@anubra266 Sure, here you go: https://codesandbox.io/s/dazzling-mclean-pkqxw?file=/src/with-icon.js

## Usage

- If you type "d" it displays the 2 suggestions + the `fixed` item that is intended to always be in the suggestions regardless of `maxSuggestions` limit.
- If you type "a" it displays 3 suggestions according to `maxSuggestions` however does not take into account the `fixed` item which wou

[2022-02-15 09:41] anubra266 commented on #124
@daliudzius i think it will be better if we tweak fixed to always show instead of adding a new prop that aims to do the same thing.

[2022-02-16 02:19] daliudzius commented on #124
Agreed, @anubra266. I was hesitant to suggest that in the event that I was missing some use case for `fixed` to function within the scope of `maxSuggestions` as it currently does.

[2022-02-17 01:33] SpencerKaiser opened #126 "Use of `isInvalid` triggers warning"
@anubra266 so the `isInvalid` prop on the input component works as expected from a UI perspective (red highlight), BUT it seems to trigger an error:
[code]

Repro code:
[code]

Any idea what I'm doing wrong?

_Originally posted by @SpencerKaiser in https://github.com/anubra266/choc-autocomplete/issues/122#issuecomment-1039749162_

[2022-02-17 10:30] #124 closed

[2022-02-24 20:48] shaneajeffery opened #128 "Deleting all text in input bugs out the autocomplete popover."
I'm not sure if someone has a fix for this or has the same issue, but I'm hoping someone can point me in the right direction.

If I go ahead and choose a selection from the dropdown popover, it gets properly placed into the input.  If, however, I delete the text in the input either by selecting all of the text or just doing one character at a time until there is nothing left, the popover shows up

[2022-03-03 13:14] chrisgco opened #129 "Allow Creatable to be Shown before typing"
It would be convenient to have a prop on `AutoComplete` that allows the createable item to be shown before any text is input.

<img width="376" alt="Screen Shot 2022-03-03 at 2 10 21 PM" src="https://user-images.githubusercontent.com/3736842/156571296-310b49e9-f6e6-4588-a997-bb817dfec803.png">

In this example the user sees the option to create a new client but can still type to filter the existin

[2022-03-03 13:20] anubra266 commented on #129
Hi @chrisgco I'm not sure what exactly you're requesting, but Is a prop that makes creatable show while input is empty, or is there something else in addition to that?

[2022-03-03 13:22] chrisgco commented on #129
Hey @anubra266, exactly what you said. It just makes creatable shown while input is empty

[2022-03-03 13:25] chrisgco opened #130 "TypeError: null is not an object (evaluating 'child.type')"
If there is a conditionally rendered element (sometimes null) in the children of `AutoCompleteList` it crashes. I think it's related to this line:

https://github.com/anubra266/choc-autocomplete/blob/9adedd56bd23440be8dee08c33b8c1d241d16847/src/helpers/list.ts#L5

The solution may just be adding a `?.` after `child`

[2022-03-03 13:30] #129 closed

[2022-03-03 13:32] anubra266 commented on #129
@chrisgco there's now an `alwaysDisplay` prop in `AutoCompleteCreatable` as at [4.18.0]()

[2022-03-03 13:57] #130 closed

[2022-03-03 13:59] anubra266 commented on #130
Fixed in [4.18.1](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.18.1)

[2022-03-03 14:00] anubra266 commented on #128
Hi @shaneajeffery I don't really understand the Issue

[2022-03-03 14:02] anubra266 commented on #123
@wkrasnicki can you create a codesandbox reproduction of this please. Thanks

[2022-03-03 14:41] chrisgco opened #133 "Setting value to undefined or null does not clear input"
The autocomplete component seems to be semi controlled. If I set `value` and `onChange`, and set value to null or undefined, I expected the AutocompleteInput.

[2022-03-08 03:09] Hades42Prox commented on #128
I also want to ask the same thing. When the input field is empty, we still want to have some suggestion or other pre-defined suggestion items. choc-autocomplete currently could not do that (or may be I have not known yet). If choc-autocomplete is able to, please give some examples in codesandbox since all your example just close all the suggestion items when <AutoCompleteInput> is empty

I already

[2022-03-08 03:30] Hades42Prox commented on #128
All good, I figure out
@shaneajeffery
You could put the `suggestWhenEmpty` props into `AutoComplete` component

[code]

[2022-03-08 06:57] fernpolo opened #134 "Feature: Ability to pass a component to AutoCompleteList to use as the null fallback"
In the current configuration, when there isn't anything to show, `AutoCompleteList` shows the predefined `EmptyState` ("_No options found!_") component. There's obviously no way to change this other forking or ~~downloading~~ saving the library.

A great addition to this library would be the ability to pass a component (to `AutoCompleteList`) that could be used instead!

A good use for customising

[2022-03-09 14:54] aysegulkavakli commented on #133
Same issue here +

[2022-03-09 22:26] SpencerKaiser commented on #126
@anubra266 any idea what could be going on with this one? 🤔

[2022-03-10 01:06] anubra266 commented on #134
Hi @fernpolo `emptyState` is a boolean/ReactNode type
<img width="729" alt="CleanShot 2022-03-10 at 02 01 59@2x" src="https://user-images.githubusercontent.com/30869823/157566282-a6d3be25-1236-4b56-a471-478e80c79a55.png">

You can do
[code]
or
[code]
and even
[code]

[2022-03-10 01:06] #134 closed

[2022-03-10 01:13] anubra266 commented on #126
@SpencerKaiser is it a standard one or the multiple Autocomplete?

[2022-03-10 01:19] SpencerKaiser commented on #126
Standard, nothing crazy added in

[2022-03-10 23:39] kculmback-eig commented on #126
Same thing happens with `isDisabled` for us if `multiple` prop is set on `AutoComplete`

[code]

[2022-03-11 20:02] alvinoalvin commented on #133
Same issue, tried setting the `restoreOnBlur` property to false as well, but am not getting any results in doing so.

[2022-03-13 13:30] anubra266 commented on #128
Thanks @Hades42Prox

[2022-03-13 13:30] #128 closed

[2022-03-28 04:00] gepd opened #139 "Asynchronous Request"
There is any way to make Asynchronous request with the current status of this component?

I'm looking to make a request as I type but I haven't found a way yet

Reference: https://mui.com/components/autocomplete/#search-as-you-type

[2022-03-28 09:43] anubra266 commented on #139
@gepd Just map your items from a state. And update the items with the results of your search.
Controlled search keyword with Input
[code]
Do search logic based on the query, and do something like `setList(searchResults)` - with `useState` setter

Then map`list` each item as `AutoCompleteItem`

[2022-03-28 09:43] #139 closed

[2022-03-30 02:34] cruzlutor commented on #133
I'm not sure if you guys are having the same issue I faced, but in my case, I fixed it in this way

[code]

[2022-04-01 12:29] feleko opened #140 "List doesn’t show when we use Collapse #bug"
Hey, I have a problem with autocomplete select  component. When I wrap the component with Collapse, the country list doesn’t show. I attach the link with reproduced problem.
https://codesandbox.io/s/loving-wozniak-qty0ul?file=/src/multi-select.js:564-572

[2022-04-07 21:18] nimo-juice opened #141 "AutoCompleteCreateable returning react object"
https://github.com/anubra266/choc-autocomplete/blob/main/src/autocomplete-creatable.tsx#L24

`AutoCompleteCreatable` is returning a react object -- it's wrapping the input value in a `mark` tag. This prevents us from using that value in translation strings or manipulating the text directly.

[2022-04-07 21:27] anubra266 commented on #141
@nimo-juice Changed this in [v4.20.2](https://github.com/anubra266/choc-autocomplete/releases/tag/v4.20.2)

[2022-04-07 21:27] #141 closed

[2022-04-07 21:28] nimo-juice commented on #141
Amazing, thank you <3

[2022-04-12 18:55] SpencerKaiser commented on #18
@anubra266 I actually just ran into this issue as well with my address typeahead.

In my situation, I actually _**never**_ want filtering because my backend is returning results that are already filtered. What do you think about adding a `disableFilter` prop so the user doesn't need to add `filter={() => true}`?

[2022-04-13 19:02] #126 closed

[2022-05-05 19:11] rael346 opened #144 "Input doesn't return value from AutoCompleteItem when using react-hook-form"
Hi, I'm having trouble using this library with react-hook-form.
[code]
For the above example, when the user type "n", click "Nigeria" and press "Submit", only "n" appear in the console and not "Nigeria". Is this a bug?
Dependency list:
[code]

[2022-05-05 22:12] anubra266 commented on #144
Hi @rael346 Refer to this issue, for guidance on using RHF. https://github.com/anubra266/choc-autocomplete/issues/24

[2022-05-06 00:51] dn00 opened #145 "Keep suggestions popover open after selection then refilter"
This is the behavior when _multiple_ is true. Popover suggestions stays open and filter out each selection. How can I achieve this for simple input? I'm building some sort of pseudo file browser and need the popover to stay open as well as filter out options that does not startWith a value (file path).

[2022-05-06 11:08] anubra266 commented on #145
@dn00 I don't fully understand, but you can keep it open by setting `closeOnSelect` to `false`, and you can use the `filter` prop for custom filtering. Check the readme props for usage.

[2022-05-10 09:30] simecek-m commented on #133
I think you need to use `restoreOnBlurIfEmpty` prop instead of `restoreOnBlur`.

[2022-05-10 20:15] matt-dale commented on #123
Here's a repo of the scrolling action issue.

https://codesandbox.io/s/choc-ui-scrolling-issue-brkwtd

I believe Chakra-UI uses [this RemoveScroll package](https://github.com/theKashey/react-remove-scroll#readme) for Modals and toggles it on/off with the `blockScrollOnMount` prop.

[2022-05-10 20:40] matt-dale commented on #123
Here is a reproduction of the tab issue. Once the AutoCompleteList is open (in this case `openOnFocus` is true), the user can't use the keyboard to exit the AutoComplete unless they select an option.

https://codesandbox.io/s/choc-ui-focus-trap-zrr5hd?file=/src/index.js

[2022-05-11 00:31] anubra266 commented on #123
I see @matt-dale. It's because `Tab` can be used to navigate the input

[2022-05-11 00:34] #144 closed

[2022-05-19 18:01] flayner2 opened #146 "`AutoCompleteList` doesn't work properly when combining mapped items from an array with static children"
The `AutoCompleteList` component doesn't behave as expected when its children are a combination of both mapped items from an array and static components. In my app, I update an array of `paper` objects with the `useState` hook with api calls that listen to `onChange` events on the `AutoCompleteInput`. The array starts empty, and is then populated as the user types. As of now, this works. But, if I

[2022-05-20 14:22] wilsonfaustino commented on #78
Hi, @anubra266

I'm trying to update my component to the latest version, but I'm noticing that the tags prop is only exposed inside the AutocompleteInput component?

Is that right or am I doing something wrong?

[2022-05-20 14:32] anubra266 commented on #78
@wilsonfaustino It's just like in the example you pasted above, tags is exposed when you pass a function as the child of the `AutoComplete` component

[2022-05-20 14:37] anubra266 commented on #78
You're right @wilsonfaustino, tags is only exposed to the input

[2022-05-20 14:45] anubra266 opened #147 "PROJECT MAINTENANCE."
I've been having a lot going on for a while now, and it's just not going to be easy maintaining this project as well.
If anyone wants to help maintain it, please feel free to contact me on twitter @anubra266.
There are lots of open issues right now, and I can't promise that I can fix them soon.

If the open issues are affecting your work's progress. I'll recommend React Aria's combobox. It handles

[2022-06-02 02:56] chrismorison-wt commented on #146
Did you get anywhere with this?

I'm having a similar issue, but mine is related to having an `<AutoCompleteGroupTitle>`.

Using the exact same Groups demo code from the readme, this grouped list has the same problem you're having:

[code]
<img width="238" alt="image" src="https://user-images.githubusercontent.com/104949709/171542583-d29681b1-3b49-4945-af28-dcd64d099b9f.png">

But remove the group

[2022-06-02 03:04] flayner2 commented on #146
Nope, had no luck at all with it, I decided to migrate to [react-aria's useComboBox](https://react-spectrum.adobe.com/react-aria/useComboBox.html) instead as anubra himself suggested [here](https://github.com/anubra266/choc-autocomplete/issues/147#issue-1243248868).

[2022-06-02 16:38] chrismorison-wt commented on #146
I managed to get my example working.  I figured that the `AutoCompleteGroup` didn't like a mixture of static elements and arrays of elements, so I combined the static element (in my case the group title) into the array:

[code]
(I include the `.filter(a => a)` bit only because I have some items which are ungrouped and therefore in a group with a blank label)

[2022-06-02 19:26] flayner2 commented on #146
I thought about doing that as well, but turns out react-aria's `useCombobox` fits my necessities much better, since it is really good at dealing with async data (with the help of react-stately's `useAsyncList`), it is much more customizable and has inbuilt support for API pagination.

[2022-06-15 10:01] Hanskrogh opened #148 "Creatable not working"
Examples seems to not be working and codesandbox is not working either. The `<AutoCompleteCreatable>` when added is removing all suggestions. When you type something that is already in the option list, it shows both "Create this option" and the options that already exist. It seems really bugged and the documentation on how to use it, is non existing...

Could you update the examples / documentatio

[2022-06-24 04:26] AlvaroAquijeDiaz opened #150 "AutocompleteList hidden by AccordionPanel"
I'm using the latest version of this library and this is happening.

[code]

### TaginputAutocomplete
[code]

### Rendered form
<img width="613" alt="Screen Shot 2022-06-23 at 23 26 03" src="https://user-images.githubusercontent.com/74371045/175462046-256b39d0-9101-4558-bfea-0062d8f44851.png">

Any suggestion or correction on the component structure will be helpful.

### Feature Request
Add an `us

[2022-06-28 14:01] AlvaroAquijeDiaz commented on #150
any idea how to fix this yet?

[2022-06-28 14:32] AlvaroAquijeDiaz commented on #150
No problem, all help is appreciated

[2022-07-01 10:57] realjesset commented on #148
yeah suggestions don't show when `creatable` is passed

[2022-07-01 13:03] KannarFr commented on #150
@anubra266 that looks really nice. Another feature could be to support List placement, ability to put the list on top or bottom of the input.

[2022-07-22 20:13] KannarFr opened #152 "Support escape and tab shortcuts to move out"
When autocomplete is focused, the escape & tab shortcuts are not handled.

[2022-08-05 21:05] SheaBelsky commented on #150
I was able to get around this by manually implementing a portal, then conditionally rendering the element within the panel based on whether or not it was expanded!

[code]

[2022-08-15 13:56] cbfn commented on #88
You can add the default value here:

[code]

[2022-08-21 15:33] jamesopti commented on #146
I can confirm this behavior worked in `v4.22.0` and has regressed in `v5.1.1` as I work on our React 18 upgrade.

I suspect theres a bug in the upgraded version of react-nanny where the children are found: https://github.com/anubra266/choc-autocomplete/blob/v5.1.1/src/helpers/items.ts#L26-L29

I was able to work around it by just concatenating all my `<AutoCompleteItem>` instances together.

[code

[2022-08-23 04:41] SpencerKaiser commented on #150
I just had a very similar issue with `Tabs`... when I used [`isLazy`](https://chakra-ui.com/docs/components/tabs/usage#lazily-mounting-tab-panels) it immediately began functioning again and the list started rendering once more. No idea why, but figured that might be meaningful to add the conversation.

[2022-08-23 05:01] SpencerKaiser opened #156 "`AutoCompleteList` fails to display when parent is pre-rendered"
As the title states, if the parent containing an `AutoComplete` component is pre-rendered, the `AutoCompleteList` never displays...

[Here's a reproduction](https://codesandbox.io/s/relaxed-shtern-f1z2k6)

### Workaround
Add `isLazy` or similar prop to your parent (as shown in the repro)

[2022-08-23 19:39] jamesopti commented on #146
@anubra266 Any thoughts on this one? Is this perhaps a bug in react-nanny?

[2022-08-24 22:28] SpencerKaiser commented on #156
@anubra266 also as an FYI if you adjust the window size, the current tab will show the list and the other tab's list will be hidden... kinda funky 😕 I don't know enough about React's rendering to know where the problem might lie, but this is obviously super low priority given the super easy workaround!

[2022-08-29 02:54] emlyn-arkahna opened #157 "Missing index.es.js from release"
I'm getting the following error when attempting to import choc-autocomplete
![image](https://user-images.githubusercontent.com/84910463/187112681-273bf27c-19e8-4b61-8b62-8cb1a911f0a9.png)

It appears that the module file `dist/index.es.js` specified in `package.json` does not exist
![image](https://user-images.githubusercontent.com/84910463/187113256-506db5d2-677e-4261-9f0e-94d20ba0ecbc.png)

remo

[2022-09-10 12:53] ImExoOdeex opened #158 "Add opitional prop for not items found."
I'd like to have prop to handle custom not items found text or element like `<></>`. Is this possible? I need to change it because my site is not in english language.

[2022-09-10 13:08] ImExoOdeex commented on #158
nvm, I've been searching for smth like `not found`, but its empytyState prop

[2022-09-10 13:08] #158 closed

[2022-09-15 09:11] bielas commented on #157
@anubra266 when do you plan to fix that? @emlyn-arkahna any suggestion of workaround?

[2022-09-15 11:48] anubra266 commented on #157
@emlyn-arkahna, @bielas should be fixed in [v5.1.2](https://github.com/anubra266/choc-autocomplete/releases/tag/v5.1.2)

[2022-09-15 11:51] #157 closed

[2022-09-15 11:52] bielas commented on #157
Is is already released?

[2022-09-15 11:52] anubra266 commented on #157
Yeah

[2022-09-15 15:17] ImExoOdeex opened #159 "Groups not working"
In [**live example**](https://codesandbox.io/s/github/anubra266/choc-autocomplete/tree/main/demo?file=/src/group.js) group does not work. I followed the tutorial and its not working. Can someone fix this?

[2022-09-19 18:49] dyhalmeida opened #160 "How to change a message when the list is empty"
Hello guys, how to change a message when the list is empty? The default message is "No options found!". Is it possible to change to a custom message? Thanks!

[2022-09-20 10:53] anubra266 commented on #160
@dyhalmeida you can use the `emptyState` prop. Check the readme for more info on it.

[2022-09-20 16:41] dyhalmeida commented on #160
@anubra266 thank's

[2022-09-20 21:47] #160 closed

[2022-09-27 16:16] AlexRequelme opened #161 "Allow create value when onBlur occurs"
If I change to another input I would like the value to be created instead of disappearing.

![image](https://user-images.githubusercontent.com/77654365/192579865-a4078077-5856-49fa-b70b-3cd7dbe662c6.png)

[2022-10-29 23:43] Derad6709 commented on #148
Any updates on it?

[2022-11-01 22:42] abrgr commented on #146
Definitely a react-nanny bug.

In https://github.com/TheSpicyMeatball/react-nanny/blob/fc64a4513397e6600ecdc7c0362587fb473781e4/src/getChildren/index.ts#L43

should be:

[code]

Right now, react-nanny doesn't handle arrays as children.

[2022-11-09 16:54] Daidalos117 commented on #148
Did you solve it somehow guys?

[2022-11-10 08:05] anubra266 commented on #148
Releaeed [v5.1.4](https://github.com/anubra266/choc-autocomplete/releases/tag/v5.1.4)

[2022-11-10 08:05] #148 closed

[2022-11-10 08:23] Daidalos117 commented on #146
should be fixed in the newest release, check it out guys

[2022-11-10 10:22] #146 closed

[2022-11-28 02:22] tresorama opened #167 "Bad css in dark color mode and variant `filled` with Next.js."
# Description

If color mode is `dark` and `<AutoCompleteInput  />` has `variant="filled"` background color of `<input />` is not ok.

# How to reproduce

1. Open sandbox
[Codesandbox](https://codesandbox.io/s/chakra-autocomplete-filled-dark-bug-vcdide?file=/pages/index.tsx)
2. Look correct css in `light` mode
3. Look bad css in `dark` mode

## Additional Info

It seems a bug that happens only whe